<div class="calendar" id="Calendar">
  <div class="calendar-header">
    <div class="calendar-header-prev"></div>
    <div class="calendar-year-month"></div>
    <div class="calendar-header-next"></div>
  </div>
  <div class="calendar-body">
    <div class="calendar-week">
      <span>Sun</span>
      <span>Mon</span>
      <span>Tue</span>
      <span>Wed</span>
      <span>Thu</span>
      <span>Fri</span>
      <span>Sat</span>
    </div>
    <div class="calendar-days"></div>
  </div>
</div>
{{/* vim:set ft=gohtmltmpl ts=2 sw=2: */}}
