<div style="color:grey; font-size:16px;">{{ dateFormat "Monday, Jan 2, 2006" .Date }}</div>
<div style="color:grey; font-size:16px;">{{ if .Params.tags }}<strong>Tags:</strong> {{ range .Params.tags }}<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{end}}{{end}}</div>
<div style="color:grey; font-size:16px;">{{ if .Params.categories }}<strong>Categories:</strong> {{ range .Params.categories }}<a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{end}}{{end}}</div>
<div style="color:grey; font-size:16px;">{{ if .Params.moods }}<strong>Moods:</strong> {{ range .Params.moods }}<a href="{{ "/moods/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{end}}{{end}}</div>

