<div class="section-list">
  {{- range . -}}
  <div class="section-list-item">
    <h4 class="section-title">
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </h4>
    {{- if .Pages -}}
    <div class="section-childs">
      {{- range $i,$p := first 5 .Pages -}}
        {{- if ne $i 0 }}，{{ end }}<a href="{{ .RelPermalink }}">{{ .Title }}</a>
      {{- end -}}
      {{- if gt (len .Pages) 5 }}<span> …</span>{{ end -}}
    </div>
    {{- end -}}
    {{- partial "components/summary" . -}}
  </div>
  {{- end -}}
</div>
{{- /* vim:set ft=gohtmltmpl ts=2 sw=2: */ -}}
