{{- if eq .Parent .FirstSection -}}                            {{- /* series/病原生物学 */ -}}
  <a class="series-title" href="{{ .RelPermalink }}">{{ .Title }}</a>
  {{- block "_structure" . -}}{{ end }}
{{- else -}}
  {{ $page := . }}
  {{- range .FirstSection.Sections -}}
    {{- if $page.IsDescendant . -}}
      <a class="series-title" href="{{ .RelPermalink }}">{{ .Title }}</a>
      {{- block "_structure" . -}}{{ end }}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- define "_structure" -}}
<ul class="series-list">
{{- range (where .Pages "Params.draft" false).ByWeight -}}
  <li>
    <a class="series-item{{ if le (.Content | len) 0 }} empty{{ end }}" href="{{ .RelPermalink }}">{{ .Title }}</a>
    {{- if eq .Kind "section" | and .Pages -}}
    <ul>
      {{- range .Pages.ByWeight -}}
      <li>
        <a class="series-item{{ if le (.Content | len) 0 }} empty{{ end }}" href="{{ .RelPermalink }}">{{ .Title }}</a>
          {{- if eq .Kind "section" | and .Pages -}}
          <ul>
            {{- range .Pages.ByWeight -}}
            <li>
              <a class="series-item{{ if (.Content | eq "") }} empty{{ end }}" href="{{ .RelPermalink }}">{{ .Title }}</a>
            </li>
            {{- end -}}
          </ul>
          {{- end -}}
      </li>
      {{- end -}}
    </ul>
    {{- end -}}
  </li>
{{- end -}}
</ul>
{{- end -}}
{{- /* vim:set ft=gohtmltmpl ts=2 sw=2: */ -}}
