{{- if eq .Parent .FirstSection -}}                       {{/* series/病原生物学 */}}
  <a class="series-title" href="{{ .RelPermalink }}">{{ .Title }}</a>
  {{- block "_structure" . -}}{{ end }}
{{- else if eq .Parent.Parent .FirstSection -}}                {{/* series/病原生物学/医学蠕虫 */}}
  <a class="series-title" href="{{ .Parent.RelPermalink }}">{{ .Parent.Title }}</a>
  {{- block "_structure" .Parent -}}{{ end }}
{{- else if eq .Parent.Parent.Parent .FirstSection -}}         {{/* series/病原生物学/医学蠕虫/吸虫 */}}
  <a class="series-title" href="{{ .Parent.Parent.RelPermalink }}">{{ .Parent.Parent.Title }}</a>
  {{- block "_structure" .Parent.Parent -}}{{ end }}
{{- else if eq .Parent.Parent.Parent.Parent .FirstSection -}}  {{/* series/病原生物学/医学蠕虫/吸虫/xxx */}}
  <a class="series-title" href="{{ .Parent.Parent.Parent.RelPermalink }}">{{ .Parent.Parent.Parent.Title }}</a>
  {{- block "_structure" .Parent.Parent.Parent -}}{{ end }}
{{- end -}}
{{- define "_structure" -}}
<ul class="series-list">
{{- range (where .Pages "Params.draft" false).ByWeight -}}
  <li>
    <a class="series-item" href="{{ .RelPermalink }}">{{ .Title }}</a>
    {{- if eq .Kind "section" | and .Pages -}}
    <ul>
      {{- range .Pages.ByWeight -}}
      <li><a class="series-item" href="{{ .RelPermalink }}">{{ .Title }}</a></li>
      {{- end -}}
    </ul>
    {{- end -}}
  </li>
{{- end -}}
</ul>
{{- end -}}
{{/* vim:set ft=gohtmltmpl: */}}
