{{- /* FUNCTION summary begin */ -}}
{{- $page := . -}}
{{- if .Params.copy }}{{ $page = .GetPage .Params.copy }}{{ end -}}
{{- $sum := $page.Summary -}}
{{- if and (not (strings.Contains .RawContent "<!--more-->")) (not .Params.summary) -}}
  {{- $sum = printf "<p>%s</p>" ($sum | plainify | strings.Truncate site.Params.daisy.summary_length) -}}
{{- else -}}
  {{- $sum = $page.Summary | replaceRE "<a\\shref=('#.*?'|\"#.*?\")>(.*?)</a>" "$2" -}}
{{- end -}}
{{- /* FUNCTION summary begin */ -}}
{{- if $sum }}<div class="summary article-content">{{ $sum | safeHTML }}</div>{{ end -}}
{{- /* vim:set ft=gohtmltmpl ts=2 sw=2: */ -}}
