{{- $u := urls.Parse .Destination -}}
{{- if hasPrefix .Destination "#" -}} {{- /* anchor */ -}}
  <a href="{{ .Destination }}"{{ with .Title }} title="{{ . }}"{{ end }}>{{ .Text | safeHTML }}</a>
{{- else -}}
  {{- if $u.IsAbs -}} {{- /* external link */ -}}
    <a href="{{ .Destination }}" {{ with .Title }} title="{{ . }}"{{ end }} target="_blank" rel="external">{{ .PlainText | safeHTML | htmlUnescape }}</a>
  {{- else -}}
    <a href="{{ .Destination }}" class="page" {{ with .Title }} title="{{ . }}"{{ end }}>{{ .Text | safeHTML }}</a>
  {{- end -}}
{{- end -}}
{{- /* vim:set ft=gohtmltmpl ts=2 sw=2: */ -}}
