<h{{ .Level }} class="heading{{ with .Attributes.class }} {{ . }}{{ end }}" {{- range $attr,$val := .Attributes -}}{{ if (in (slice "alias") $attr | not) }}{{ $attr }}="{{ $val }}"{{ end }}{{ end -}}>
  <a href="#{{ .Anchor }}">{{ .Text | safeHTML }}</a> {{- /* .Text is renered HTML link text */ -}}
  {{- with .Attributes.alias -}}<span class="heading-aliases">{{ range (split . " ") }}<span class="heading-alias">{{ replace . "\\_" " " | markdownify }}</span>{{ end }}</span>{{ end -}}
</h{{ .Level }}>
{{- if and site.Data.refs .Page.File -}}
{{- if index site.Data.refs .Page.File.Path -}}
{{- if index (index site.Data.refs .Page.File.Path).link_here .Anchor -}}
  {{- partial "components/cross-refs.html" (dict "page" .Page "index" .Anchor) -}}
{{- end -}}
{{- end -}}
{{- end -}}
{{- /* vim:set ft=gohtmltmpl ts=2 sw=2: */ -}}
