{{- if hasPrefix .Destination "#" -}}
<a href="{{ .Destination }}"{{ with .Title }} title="{{ . }}"{{ end }}>{{ .Text | safeHTML }}</a>
{{- else -}}
  {{- if (hasPrefix .Destination "./") -}}
<a href="{{ replace .Destination "./" .Page.RelPermalink }}"{{ with .Title}} title="{{ . }}"{{ end }} target="_blank">{{ .Text | safeHTML }}</a>
  {{- else if (hasPrefix (relURL .Destination) "/") -}}
<a href="{{ .Destination }}"{{ with .Title }} title="{{ . }}"{{ end }}>{{ .Text | safeHTML }}</a>
  {{- else -}}
    {{- $url := .Text | urls.Parse -}}
    {{- $urltext := "" -}}
    {{- if $url.Host -}}
      {{- $urltext = printf "%s://%s%s" $url.Scheme $url.Host $url.Path -}}
    {{- else if $url.Path -}}
      {{- $urltext = $url.Path -}}
    {{- else -}}
      {{- $urltext = .Text -}}
    {{- end -}}
<a href="{{ .Destination }}"{{ with .Title }} title="{{ . }}"{{ end }} target="_blank">{{ $urltext | safeHTML }}</a>
  {{- end -}}
{{- end -}}
{{- /* vim:set ft=gohtmltmpl ts=2 sw=2: */ -}}
