.site-inner {
    min-height: 100%;
    display: grid;
    grid-template-areas: "header" "content" "footer";
    grid-template-rows: 100px auto 64px;
    /* grid-template-columns: minmax(max-content,auto); */
    transition: all 0.2s ease-out;
}
.site-root.sidebar-active .site-inner {
    padding-left: 320px;
}

@media (max-width: 991px) {
    .site-inner {
        padding-left: 0;
    }
}

.site-header {
    grid-area: header;
    background-color: #f5f5f5;
    text-align: center;
}

.site-footer {
    grid-area: footer;
    justify-content: left;
    background-color: #f5f5f5;
    text-align: center;
}

/* .site-main */
.site-main {
    grid-area: content;
    display: grid;
    justify-content: space-between;
    align-content: space-between;
    grid-template-areas:
        "left content right"
        "left comment right";
    grid-template-columns: minmax(min-content,auto) 800px minmax(min-content,auto);
}
.site-content {
        grid-area: content;
}
.site-comment {
    grid-area: comment;
    align-self: end;
    all: initial;
}

.site-main-left {
    grid-area: left;
}
.site-main-right {
    grid-area: right;
}
