.article-title {
    text-align: center;
    font-size: 24px;
    color: var(--black);
}
.article-title:not(.page-title):not(.card-title) {
    margin: 40px 0 0 0;
}
.page-title, .card-title {
    text-align: left;
    margin: 0;
}

.article-metadata {
    text-align: center;
    color: var(--gray-deep);
    font-size: 0.875em;
    user-select: none;
    margin-top: 10px;
    line-height: 1.8;
}
.page-metadata {
    text-align: left;
}
.meta-item {
    display: inline;
}
.meta-item::marker {
    content: none;
}
.meta-item:not(:last-child)::after {
    content: "|";
    margin: 0 2px;
}
.meta-section {
    margin: 0;
    padding: 0;
}
.meta-item-value {
    border-bottom: 1px dashed;
    user-select: text;
}
/* card-metadata */
.card-metadata {
    text-align: left;
    padding: 0;
    margin: 5px 0;
}
.card-metadata .meta-item {
    display: block;
}
.card-metadata .meta-item::after {
    content: none;
}

/* cross reference */
.cross-refs {
    margin: 0 0 10px 0;
    font-size: 16px;
}
.cross-refs::before {
    content: "Link here: ";
    color: var(--gray-deep);
}
.cross-ref {
    background-color: var(--gray-light);
    border-radius: 2px;
    margin-left: 5px;
    word-break: break-all;
}
.tab .cross-refs {
    margin: 0;
    padding: 10px 15px;
    border-bottom: 2px dashed var(--gray);
}
.table-wrap .cross-refs {
    margin: 0;
}

/* link */
.pagination .page-item a,
.section-list a,
.cross-ref,
.article-title a,
.article-metadata a,
.article-content a {
    color: var(--link);
    transition: all 0.3s;
    text-decoration: underline;
    text-decoration-color: var(--gray-deep);
    text-decoration-thickness: 2px;
}
.article-title a,
.pagination .page-item a,
.article-metadata a {
    text-decoration: none;
}
.section-list a:hover,
.cross-ref:hover,
.article-title a:hover,
.article-metadata a:hover,
.article-content a:hover {
    color: var(--orange-deep);
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.article-copy {
    background: var(--gray-light);
    border: 2px dashed var(--gray);
    padding: 1em;
    margin: 15px 0;
}

.heading a { color: var(--black) }

.page-nav {
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
    gap: 30px;

    padding-top: 10px;
    border-top: 1px solid #eee;
    margin-top: 40px;

    font-size: 0.875em;
    line-height: 1.6;
}
.page-nav a {
    color: var(--black);
    text-decoration: none;
    opacity: 0.6;
}
.page-nav a:hover {
    opacity: 1;
}
.page-nav .fa { font-size: 0.75em; }
.page-nav-prev .fa { margin-right: 5px; }
.page-nav-next .fa { margin-left: 5px; }
.page-nav-prev { text-align: left; }
.page-nav-next { text-align: right; }

/* image */
.image-wrap, figure {
    text-align: center;
}
.image-wrap img, figure img {
    max-width: 100%;
    max-height: 75vh;
}
.image-wrap a[data-src], figure a[data-src] {
    cursor: pointer;
}
figure {
    margin: 10px auto;
    overflow: hidden;
    width: 100%;
}
@media (min-width: 751px) {
    figure.float-left {
        float: left;
        max-width: 50%;
        margin: 10px;
    }
    figure.float-right {
        float: right;
        max-width: 50%;
        margin: 10px;
    }
    figure.left img, figure.right img {
        max-width: 75%;
        width: 200px;
        margin: 10px;
        margin-top: 0;
    }
    figure.left  img { float: left }
    figure.right img { float: right }
}
/* kroki diagram */
/* .diagram-scroll { */
/*     overflow: auto; */
/* } */
/* .svg-wrap { */
/*     margin: auto; */
/* } */
/* .svg-wrap svg { */
/*     max-width: -webkit-fill-available; */
/*     height: auto !important; */
/* } */
/* .diagram-kroki figcaption>.title::before { */
/*     content: "Diagram - "; */
/* } */
.svg-wrap {
    margin: auto;
}
[data-fancybox] .svg-wrap {
    user-select: none;
}
.svg-wrap svg {
    max-width: 100%;
    height: 100%;
}

/* fancybox */
img[src$=".svg"] {
    background: var(--white);
}
[data-fancybox] {
    cursor: zoom-in;
}

/* mermaid */
.mermaid[data-processed="true"] {
    margin: auto;
    text-align: center;
    overflow: auto;
}
.mermaid:not([data-processed="true"]) {
    max-width: initial !important;
}

/* caption */
figcaption, .table-caption {
    text-align: left;
}
figcaption>.title, .table-title{
    margin: 0;
    font-size: 20px;
    white-space: pre-wrap;
    font-weight: bold;
    font-family: var(--font-serif);
}
figcaption>.title::before {
    content: "Figure - ";
    color: var(--gray);
}
.table-title::before {
    content: "Table - ";
    color: var(--gray);
}
figcaption>.caption, .table-caption {
    margin: 0;
    color: var(--gray-deep);
    white-space: pre-wrap;
    font-size: 16px;
}
figcaption .cross-refs, .table-caption .cross-refs {
    font-size: smaller;
}

/* content font size */
.article-content {
    font-size: 18px;
    color: var(--black);
    overflow-wrap: break-word;
}

/* table */
.table-wrap {
    overflow: auto;
    max-height: 75vh;
    margin-bottom: 18px;
}
.table-caption {
    margin-top: -18px;
    margin-bottom: 18px;
}
.table-title {
    margin-top: 18px;
}
table:not(.highlight table) {
    white-space: nowrap;
    width: 100%;
    font-size: 0.875em;
    border-collapse: separate;
    border-spacing: 0;
}
.table-wrap table.wrap {
    line-break: loose;
    white-space: break-spaces;
}
table:not(.highlight table) th {
    border: 1px solid var(--gray-deep);
    border-bottom: 3px solid var(--gray-deep);
    position: sticky;
    z-index: var(--z-overcontent);
    top: 0;
    background-color: var(--white);
    padding: .3em 1em;
}
table:not(.highlight table) td {
    border: 1px solid var(--gray-deep);
    padding: .3em 1em;
}
tbody:not(.highlight tbody) tr:nth-of-type(even) {
    background-color: var(--white);
}
tbody:not(.highlight tbody) tr:nth-of-type(odd) {
    background-color: var(--gray-light);
}
table:not(.highlight table).left-sticky td:first-child{
    position: sticky;
    left: 0;
    background-color: inherit;
}
table:not(.highlight table).left-sticky th:first-child {
    position: sticky;
    left: 0;
    background-color: var(--white);
    z-index: calc(var(--z-overcontent) + 1);
}
table:not(.highlight table):not(.table-wrap table) {
    display: block;  /* make bare table scrollable */
    overflow: auto;
    max-width: fit-content;
    margin: 15px auto;
}
/* table-cell */
table .table-cell.right {
    text-align: right;
    padding-left: 1em;
}
table .table-cell.left {
    text-align: left;
    padding-right: 1em;
}
table .table-cell.center {
    text-align: center;
}

/* highlight & block */
code * {
    font-family: var(--font-code);
}
code:not(pre code) { /* inline code */
    font-family: var(--font-code);
    margin-top: 10px;
    border-radius: 4px;
    background-color: var(--inline-code-background);
    border-left: 5px solid var(--inline-code-background);
    border-right: 5px solid var(--inline-code-background);
}
pre:not(.highlight pre):not([data-processed].mermaid),
.highlight {
    margin: 10px 0;
    border: 8px solid var(--code-background);
    border-radius: 4px;
    background-color: var(--code-background);
    overflow-x: auto;
    line-height: 1.5;
    max-height: 60vh;  /* code blocks of 14 lines on windows overflow if setted to 50vh */
}
.highlight pre {
    margin: 0;
}
.highlight td:first-child {
    user-select: none;
    position: sticky;
    left: 0;
    z-index: var(--z-overcontent);
}
.highlight td:first-child code {
    display: flex;
    flex-direction: column;
}

/* list */
.article-content li p,
.article-content dd p {
    margin: 0;
    display: inline;
}
.article-content li::marker {
    color: var(--gray-deep);
}

/* heading */
.heading {
    width: 100%;
    margin: 15px 0;
}
h1.heading {
    font-size: var(--font-height-double);
}
h2.heading {
    text-align: center;
    font-size: 28px;
    /* scrollIntoView 目前存在问题 */
    z-index: var(--z-overcontent);
    /* position: sticky; */
    /* top: 48px; */
    background-color: var(--white);
    counter-reset: h3Counter h4Counter h5Counter h6Counter;
    counter-increment: h2Counter;
}
h3.heading {
    font-size: 24px;
    counter-reset: h4Counter h5Counter h6Counter;
    counter-increment: h3Counter;
}
h4.heading {
    font-size: 22px;
    counter-reset: h5Counter h6Counter;
    counter-increment: h4Counter;
}
h5.heading {
    font-size: 20px;
    counter-reset: h6Counter;
    counter-increment: h5Counter;
}
h6.heading {
    font-size: 18px;
    counter-increment: h6Counter;
}

.heading::before {
    color: var(--gray-deep);
}
h2.heading::before {
    content: counter(h2Counter) ". ";
}
h3.heading::before {
    content: counter(h2Counter) "." counter(h3Counter) ". ";
}
h4.heading::before {
    content: counter(h2Counter) "." counter(h3Counter) "." counter(h4Counter) ". ";
}
h5.heading::before {
    content: counter(h2Counter) "." counter(h3Counter) "." counter(h4Counter) "." counter(h5Counter) ". ";
    /* content: counter(h5Counter, upper-roman) ". "; */
}
h6.heading::before {
    content: counter(h2Counter) "." counter(h3Counter) "." counter(h4Counter) "." counter(h5Counter) "." counter(h6Counter) ". ";
    /* content: counter(h6Counter, lower-alpha) ". "; */
}
.heading-alias {
    color: var(--gray-deep);
    word-break: break-all;
}
.heading-alias:hover {
    transition: color .5s;
    color: var(--black);
}
.heading-alias::before {
    content: "·";
    color: var(--gray-deep);
    margin: 0 0.2em;
}

/* kbd */
kbd {
    display: inline-block;
    padding: .25em;
    background-color: var(--white);
    border: 1px solid var(--gray);
    border-bottom-color: var(--gray-deep);
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 var(--gray-deep);
    font-size: .8em;
    line-height: 1.25;
    font-family: var(--font-code);
    color: var(--black);
}

/* footnote */
hr {
    background-image: repeating-linear-gradient(-45deg, #ddd, #ddd 4px, transparent 4px, transparent 8px);
    height: 2px;
    margin: 20px 0;
    border: none;
}
.footnote-ref::before {
    content: "[";
}
.footnote-ref::after {
    content: "]";
}
.footnote-ref::after, .footnote-ref::before {
    color: var(--gray-deep);
}

/* deflist */
dl {
    margin: 25px 0;
}
dl:first-child, .heading + dl {
    margin-top: 10px;
}
dt, dd {
    line-height: 24px;  /* vertical align */
}
dt {
    font-weight: bold;
    font-family: var(--font-italic);
    display: inline;
    float: left;
}
dt::after {
    content: ": ";
    color: var(--gray-deep);
    font-weight: bold;
    font-style: normal;
    margin: 0 4px;
    font-family: var(--font-sans);
    line-height: 0;  /* to prevent dt deviation */
}
dd {
    margin: 0;
}
dd:not(dt+dd) {
    text-indent: 1em;
}
dd:not(dt+dd)::before {
    content: "#";
    color: var(--gray-deep);
    font-weight: bold;
    margin: 0 5px;
}
dl:not(.grid) dd+dt, dl:not(.grid) dd+dt+dd {
    margin-top: 10px;
}

/* grid deflist */
@media (min-width: 601px) {
    dl.grid {
        display: grid;
        grid-template-columns: auto auto;
        grid-column-gap: 5px;
        grid-row-gap: 10px;
    }
    dl.grid dd:not(dt+dd) {
        grid-column: 1 / -1;
    }
    dl.grid dt::after {
        content: none;
    }
}
@media (max-width: 600px) {
    dl.grid dt {
        display: block;
        float: none;
        margin-top: 10px;
    }
    dl.grid dd {
        margin-top: 5px;
        margin-left: 10px;
        text-indent: 0;
    }
    dl.grid dt::after {
        content: none;
    }
}
/* indent deflist */
dl.indent dt {
    display: block;
    float: none;
}
dl.indent dd {
    margin-top: 5px !important;
    margin-left: 10px;
    text-indent: 0;
}
dl.indent dt::after {
    content: none;
}

/* series */
.series-container {
    position: fixed;
    top: 0;
    bottom: 0;

    white-space: nowrap;
    width: 320px;
    right: -325px;
    transition: right .5s ease-out;
    z-index: var(--z-series);
}
.series-container:hover, .series-container.pinned {
    right: 0;
}
.series-list-pin {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    transform: rotate(-45deg);
}
.series-list-pin:hover {
    color: var(--gray-deep);
}
.series-container.pinned .series-list-pin {
    transform: rotate(0);
}
.series-container a {
    color: var(--gray-deep);
    text-decoration: none;
}
.series-container a:hover {
    color: var(--orange-deep);
}
.series-toggle {
    position: absolute;
    top: 120px;
    left: -30px;

    font-size: 20px;
    width: 30px;
    height: 30px;
    background-color: var(--gray-light);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px 0 0 8px;
    z-index: var(--z-series);

    transition: right .5s ease-out;
}
.series-container:hover .series-toggle {
    right: 320px;
}
.series-content {
    height: calc(100% - 40px);
    background-color: var(--gray-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 4px 0 0 4px;
    z-index: var(--z-series);
    line-height: 1.5;
    padding: 20px 10px;
    color: var(--gray);
}
.series-content li::marker {
    content: none;
}
.series-content ul {
    padding: 0 2px 0 15px;
    margin: 0;
}
.series-list {
    padding: 0;
    margin-bottom: 10px;
    text-indent: 10px;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    overscroll-behavior: contain;
}
.series-title {
    font-size: 24px;
    height: 64px;
    width: 100%;
    text-align: center;
}
.series-list li {
    border-left: 2px solid var(--gray);
}
.series-list li:hover {
    border-color: var(--orange);
}
.series-item.empty {
    opacity: .6;
}
.series-title.now, .series-item.now {
    color: var(--orange);
}
/* collapse */
.collapse-trigger:before {
    content: "\f146";
    font-family: "Font Awesome 6 Free";
    font-style: normal;
}
.collapsed .collapse-trigger:before {
    content: "\f0fe";
}
.collapsed ul {
    display: none;
}
.series-item:not(.collapse-trigger + .series-item) {
    margin-left: 14px;
}
.collapse-trigger {
    color: var(--gray-deep);
    cursor: pointer;
    margin-right: 2px;
    margin-left: -2px;
}
.collapse-trigger:hover {
    color: var(--orange);
}

/* related-contents */
@media (min-width: 751px) {
    .related-contents {
        max-width: 300px;
    }
}
.related-contents {
    margin-right: 10px;
    position: sticky;
    top: 20px;
    min-width: 200px;
}
.related-contents .title {
    text-align: center;
    margin: 20px 0 0;
    font-size: larger;
    color: var(--gray-deep);
}

/* page-list */
.article-content+.page-list::before,
.diary-list::before,
.pages-recommended-tab::before {
    color: var(--gray);
    border-bottom: 2px dashed var(--gray);
    display: block;
    width: 50%;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    font-size: 24px;
}
.diary-list::before { content: "Diary List" }
.page-list-item {
    margin-top: 30px;
}
.page-list-item .summary,
.card .summary {
    color: var(--gray-deep);
    margin: 5px 0;
}

/* pages recommended */
.pages-recommended-tab {
    animation: fadeRight 0.5s ease-out;
}
.pages-recommended-tab:not(.selected) {
    display: none;
}
.pages-recommended-switch-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    font-family: var(--font-serif);
    align-items: flex-end;
    height: 50px;
    margin-top: 30px;
}
span.pages-recommended-switch {
    text-decoration: underline;
    color: var(--gray);
    cursor: pointer;
    transition: all .2s;
}
span.pages-recommended-switch:hover {
    color: var(--gray-deep);
    font-size: x-large;
}
span.pages-recommended-switch.selected {
    font-weight: bold;
    font-size: xx-large;
    color: var(--gray-deep);
}

@media (max-width: 700px){
    .pages-recommended-switch-container {
        display: none;
    }
    .pages-recommended {
        display: flex;
        flex-direction: column;
    }
    .pages-recommended-tab.most-referenced {
        order: -1;
    }
    .pages-recommended-tab:not(.selected) {
        display: block;
    }
    .pages-recommended-tab.recently-modified::before {
        content: "Recently Modified";
    }
    .pages-recommended-tab.most-referenced::before {
        content: "Most Referenced";
    }
    .pages-recommended-tab.recently-published::before {
        content: "Recently Published";
    }
}

/* summary children margin */
.summary *:first-child {
    margin-top: 0;
}
.summary *:last-child {
    margin-bottom: 0;
}
.page-list-item:not(:last-child)::after {
    content: "";
    display: block;
    border-top: 2px dashed;
    /* width: 75%; */
    margin: auto;
    color: var(--gray-light);
}
.page-list-item.section .page-title::before {
    content: "\f07c";
    font-family: "font awesome 6 free";
    font-weight: 900;
    color: var(--gray-deep);
    margin-right: 5px;
}

.page-list-item.page .page-title::before {
    content: "\f15c";
    font-family: "font awesome 6 free";
    font-weight: 900;
    color: var(--gray-deep);
    margin-right: 5px;
}

/* card */
.card-container {
    display: flex;
    flex-flow: column;
    gap: 20px;
    margin-top: 40px;
}
.card {
    box-shadow: 1px 1px 3px 0px var(--gray-deep);
    border-radius: 4px;
    padding: 10px;
}
.card:nth-child(odd) {
    margin-left: 20px;
}
.card:nth-child(even) {
    margin-right: 20px;
}

/* pagination */
.pagination {
    user-select: none;
    padding: 0;
    text-align: center;
    margin-top: 40px;
    display: inline-flex;
    width: 100%;
    gap: 5px;
    justify-content: center;
}
.pagination .page-item {
    display: inline-block;
}
.pagination .page-item .page-link {
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    background: var(--gray-light);
}
.pagination .page-item.active .page-link {
    cursor: default;
    color: var(--orange);
}
.pagination .page-item.disabled .page-link {
    cursor: default;
    color: var(--gray-deep);
}

/* sections list */
.section-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
    grid-gap: 10px;
    margin: 15px 0;
    font-family: var(--font-sans);
}
.section-list-item {
    border: 2px solid var(--gray-light);
    border-radius: 10px;
    padding: 10px 10px;
}
.section-title {
    font-size: 1.125em;
    margin: 0 0 15px;
}
.section-childs::before {
    content: "\f802";
    font-family: "font awesome 6 free";
    font-size: 14px;
    font-weight: 900;
    color: var(--gray-deep);
    margin-right: 5px;
}

/* short codes */

/* inline list */
@counter-style circled-number {
    system: fixed;
    symbols: ① ② ③ ④ ⑤ ⑥ ⑦ ⑧ ⑨ ⑩ ⑪ ⑫ ⑬ ⑭ ⑮ ⑯ ⑰ ⑱ ⑲ ⑳ ⑳;
}
.inline-list.list {
    counter-reset: hzlistCounter;
}
.inline-list.list .inline-list-item {
    counter-increment: hzlistCounter;
}
.inline-list.list .inline-list-item::before {
    content: counter(hzlistCounter, circled-number);
    color: var(--gray-deep);
    margin: 0 2px;
}
.inline-list.list .inline-list-conjunction {
    font-size: 50%;
}

.inline-list.label {
    display: inline-flex;
    gap: 5px;
}
.inline-list.label .inline-list-item {
    font-size: 16px;
    background: var(--gray-light);
    display: inline-block;
    border-radius: 5px;
    padding: 0 5px;
}
.inline-list.label .inline-list-item:before {
    content: "\f02b";
    font-family: "Font Awesome 6 Free";
    color: var(--gray-deep);
    font-weight: 800;
    font-size: smaller;
    padding: 0 2px 0 1px;
}

/* hdt */
.hidden-text {
    background-color: var(--black);
    color: var(--black) !important;
    transition: background-color .5s;
}
.hidden-text:hover { background-color: inherit }

/* noted text */
/* available classes: inline-note, exam */
.note {
    font-family: var(--font-serif);
    line-break: anywhere;
}
.noted {
    text-decoration: underline;
    text-decoration-style: double;
}
.noted:not(.inline-note) .note {
    float: right;
    max-width: 200px;
    background: var(--gray-light);
    padding: 0 5px;
    border-radius: 5px;
    margin-left: 5px;
    border-bottom: 2px solid var(--gray-deep);
}
/* exam questions  */
.noted.exam .note {
    color: var(--orange);
}
.noted.exam {
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: var(--orange);
}

/* sense-group */
.sense-group::before {
    content: "「";
    color: var(--gray);
}
.sense-group::after {
    content: "」";
    color: var(--gray);
}

/* tab */
.tab {
    border-left: 4px solid;
    border-radius: 2px;
    margin: 15px 4px 15px;
}
.tab+.tab {
    margin-top: -11px;
}
.tab-sum { padding: 5px 10px }
.tab-content {
    padding: 15px;
    max-height: max(250px, 50vh);
    overflow: auto;
}
.tab-content>*:last-child:not(.tab) { margin-bottom: 0 }
.tab-content>*:first-child:not(.tab) { margin-top: 0 }
/* for details */
summary:focus-visible { outline: none }
summary.tab-sum::marker { content: none }
summary.tab-sum {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.tab-sum-trigger {
    transition: transform .2s;
    vertical-align: baseline;
    width: 25px;
    text-align: center;
    height: 18.53px;
    margin: auto 0;
}
.tab-sum-trigger::before {
    font-style: normal;
    content: "\f105";
    opacity: 0.5;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
}
details[open] .tab-sum-trigger {
    transform: rotate(90deg);
}

/* color */
.tab.default { border-color: #777777; box-shadow: 0 0 2px 2px #77777725; }
.tab.success { border-color: #5cb85c; box-shadow: 0 0 2px 2px #5cb85c25; }
.tab.primary { border-color: #6f42c1; box-shadow: 0 0 2px 2px #6f42c125; }
.tab.info    { border-color: #428bca; box-shadow: 0 0 2px 2px #428bca25; }
.tab.warning { border-color: #f0ad4e; box-shadow: 0 0 2px 2px #f0ad4e25; }
.tab.danger,
.tab.error   { border-color: #d9534f; box-shadow: 0 0 2px 2px #d9534f25; }
.tab.default > .tab-sum { background-color: #77777725 }
.tab.success > .tab-sum { background-color: #5cb85c25 }
.tab.primary > .tab-sum { background-color: #6f42c125 }
.tab.info    > .tab-sum { background-color: #428bca25 }
.tab.warning > .tab-sum { background-color: #f0ad4e25 }
.tab.danger  > .tab-sum,
.tab.error   > .tab-sum { background-color: #d9534f25 }

/* sa - see also */
.see-also {
    font-size: 16px;
}
.see-also::before {
    content: "See also:";
    margin-right: 5px;
    color: var(--gray-deep);
    white-space: nowrap;
}
.see-also a {
    background-color: var(--gray-light);
    border-radius: 2px;
    margin-left: 5px;
    word-break: break-all;
}

/* bilibili & youtube */
.video-container {
    height: 0;
    margin: 10px 0;
    padding-bottom: 56.25%;
    position: relative;
    background-color: var(--gray);
    box-shadow: 0 2px 10px var(--gray);
}
.video-container iframe,
.video-container object,
.video-container embed {
    height: 100%;
    left: 0;
    margin: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

/* blockquote */
blockquote {
    quotes: "“" "”" "‘" "’" "“" "”" "‘" "’";
    margin: 10px 0;
    padding: 10px 25px;
    background-color: var(--gray-light);
    border-radius: 4px;
    font-family: var(--font-italic);
}
blockquote code {
    font-family: var(--font-italic);
}
blockquote:before {
    color: var(--gray);
    content: open-quote;
    font-family: var(--font-sans);
    position: relative;
    float: left;
    font-size: xxx-large;
    left: -20px;
    top: -10px;
    width: 0;
}
blockquote::after {
    color: var(--gray);
    content: close-quote;
    font-family: var(--font-sans);
    position: relative;
    float: right;
    font-size: xxx-large;
    right: -2px;
    bottom: 15px;
    width: 0;
}
blockquote a.cite {
    text-decoration: none;
}
blockquote a[target=_blank].cite::after {
    content: none;
}
blockquote .quote-content, blockquote .quote-from, blockquote p {
    margin: 0;
}
blockquote.align-center .quote-content { text-align: center }
blockquote.align-left .quote-content { text-align: left }
blockquote.align-right .quote-content { text-align: right }
blockquote .quote-from {
    text-align: right;
}

/* section-heading */
.section-heading:hover {
    opacity: 1;
}
.section-heading.float {
    position: relative;
    left: -40px;
    width: 0;
    float: left;
    writing-mode: vertical-lr;
    font-weight: bold;
    font-family: var(--font-serif);
    opacity: .6;
}
.section-heading.float:hover {
    transition: opacity .5s;
    opacity: 1;
}
@media (min-width: 1000px) and (max-width: 1225px) {
    .sidebar-active .section-heading.float {
        position: unset;
        left: unset;
        width: unset;
        float: unset;
        writing-mode: unset;
        opacity: unset;
    }
    .sidebar-active .section-heading.float {
        display: block;
        margin: 10px 0;
        font-weight: bold;
        font-family: var(--font-serif);
    }
    .sidebar-active .section-heading.float::before {
        content: "「";
        color: var(--gray-deep);
    }
    .sidebar-active .section-heading.float::after {
        content: "」";
        color: var(--gray-deep);
    }
    .section-heading.float + ol, .section-heading.float + ul {
        margin-top: 0;
    }
}
@media (max-width: 900px) {
    .section-heading.float {
        position: unset;
        left: unset;
        width: unset;
        float: unset;
        writing-mode: unset;
        opacity: unset;
    }
    .section-heading.float {
        display: block;
        margin: 10px 0;
        font-weight: bold;
        font-family: var(--font-serif);
    }
    .section-heading.float::before {
        content: "「";
        color: var(--gray-deep);
    }
    .section-heading.float::after {
        content: "」";
        color: var(--gray-deep);
    }
    .section-heading.float + ol, .section-heading.float + ul {
        margin-top: 0;
    }
}
/* nofloat */
.section-heading.nofloat {
    display: block;
    margin: 10px 0;
    font-weight: bold;
    font-family: var(--font-serif);
}
.section-heading.nofloat::before {
    content: "「";
    color: var(--gray-deep);
}
.section-heading.nofloat::after {
    content: "」";
    color: var(--gray-deep);
}
.section-heading.nofloat + ol, .section-heading.nofloat + ul {
    margin-top: 0;
}

/* styled text */
ins {
    text-decoration: none;
    border-bottom: 0.16em solid;
}
del {
    text-decoration-thickness: 0.16em;
    text-decoration-color: #e20000;
}
em {
    font-style: normal;
    font-family: var(--font-italic);
    text-decoration: underline dashed var(--gray-deep);
}
.heading em {
    font-family: inherit;
    color: var(--gray-deep);
}
.heading a:hover em {
    color: var(--orange-deep);
}

/* mathjax */
mjx-container {
    overflow-x: auto;
    overflow-y: hidden;
}

/* sub and sub */
sup {
    font-size: 75%;
    line-height: 0;
    vertical-align: super;
}
sub {
    font-size: 75%;
    line-height: 0;
    vertical-align: sub;
}

.page-list-item a[href^="#"] {
    color: var(--gray-deep);
}
.page-list-item a[href^="#"]:hover {
    color: var(--gray-deep);
}

/* attribution */
.attribution {
    font-size: x-small;
    margin: 0;
}
.attribution::before {
    content: "Attribution: ";
    color: var(--gray);
}
.attribution a:after {
    vertical-align: baseline;
}

/* special hyperlinks */
.article-content a[target="_blank"]::after {
    content: " \f35d ";
    border-bottom: none;
    font-family: 'font awesome 6 free';
    font-weight: 900;
    font-size: x-small;
    vertical-align: super;
}
.article-content a[target="_blank"] {
    word-break: break-all;
}
.article-content a[href^="#"]:not(.footnote-backref, .footnote-ref, .heading a)::before {
    content: "#";
    font-family: var(--font-serif);
    font-weight: bold;
}
.top-refs a.page::before,
.article-content a.page::before {
    content: "\f15c";
    font-family: "Font Awesome 6 Free";
    font-weight: 400;
    font-size: smaller;
    padding: 0 2px 0 1px;
}

/* ul, ol */
.article-content ol, .article-content ul {
    padding-inline-start: 32px;
}

/* custom */
.heading.medicine::after {
    content: "\f484";
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    color: #82c91e;
    margin: 0 5px;
}
.heading.important a {
    color: red;
}
.heading.unimportant a {
    font-style: italic;
    color: var(--gray-deep);
}
