.page-nav {
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
    gap: 30px;

    padding-top: 10px;
    border-top: 1px solid #eee;
    margin-top: 40px;
}

.page-nav a {
    border: none;
}
.page-nav-prev {
    text-align: left;
    margin-left: 20px;
}
.page-nav-next {
    text-align: right;
    margin-right: 20px;
}

/* highlight */
.highlight {
    margin-top: 10px;
}
.highlight pre {
    margin: 0;
    user-select: none;
}
