body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  background: #dddddd;
}

body::-webkit-scrollbar-thumb {
  background-color: #85858599;
  /* border-radius: 4px; */
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #858585;
}
