{{- define "main" -}}
  <h1 class="article-title">{{ .Title }}</h1>
  <div class="article-metadata">{{ partial "components/metadata.html" . }}</div>
  <!-- {{- partial "components/top-refs" . -}} -->
  {{- if eq .File.Dir "series/" -}}
    {{- block "_body" (dict "content" .Content "pages" .Sections) -}}{{ end }}
  {{- else -}}
    {{- block "_body" (dict "content" .Content "pages" .Pages) -}}{{ end }}
  {{- end -}}
{{- end -}}
{{- define "_body" -}}
  {{- with .content -}}
    <div class="article-content">
      {{- . -}}
    </div>
  {{- end -}}
  {{- with .pages -}}
    <div class="page-list">{{ partial "components/page-list" . }}</div>
  {{- end -}}
{{- end -}}
{{- define "right" -}}
  {{- if ne . (.GetPage "series") -}}
    <div class="series-container">
      <div class="series-toggle"><i class="fas fa-book"></i></div>
      <div class="series-content">{{ partial "components/series-list" . }}</div>
    </div>
  {{- end -}}
{{- end  -}}
{{/* vim:set ft=gohtmltmpl: */}}
