{{- define "main" -}}
  <h1 class="article-title">{{ .Title }}</h1>
  <div class="article-metadata">{{ partial "components/metadata.html" . }}</div>
  {{- with .Content -}}
    <div class="article-content">
      {{- . -}}
    </div>
  {{- end -}}
{{- end -}}
{{- define "right" -}}
  <div class="series-container">
    <div class="series-toggle"><i class="fas fa-book"></i></div>
    <div class="series-content">{{ partial "components/series-list" . }}</div>
  </div>
{{- end -}}
{{/* vim:set ft=gohtmltmpl: */}}
