<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
  {{- partial "components/opengraph" . -}} {{/* open graph */}}
  {{- partial "components/title" . -}}     {{/* title */}}
  {{- partial "components/style" . -}}     {{/* css */}}
  {{- partial "components/favicon" . -}}   {{/* favicon */}}
</head>
<body class="site-root" id="SiteRoot">
  <div id="loading"></div>
  <div class="site-inner" id="SiteInner">
    <header class="site-header" id="SiteHeader">{{ partial "header" . }}</header>
    <div class="site-main" id="SiteMain">
      <div class="site-left">{{ block "left" . }}{{ end }}</div>
      {{- partial "message" . -}}
      <div class="site-content" id="SiteContent">{{ block "main" . }}{{ end }}</div>
      <div class="site-comment">{{ partial "third-party/comment" . }}</div>
      <div class="site-right">{{ block "right" . }}{{ end }}</div>
    </div>
    {{- partial "fast-search" . -}}
    <footer class="site-footer" id="SiteFooter">{{ partial "footer" . }}</footer>
    <aside class="site-sidebar" id="SiteSidebar">{{ partial "sidebar" . }}</aside>
  </div>
  <div class="loading-track"><div class="loading-progress"></div></div>
  {{- partial "components/js" . -}} {{/* js */}}
</body>
</html>
{{/* vim:set ft=gohtmltmpl: */}}
