<!DOCTYPE html>
<html lang="zh-CN">
<head>
  {{/* metadata  */}}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
  {{/* title */}}
  {{ if not .IsHome }}
  <title>{{ print .Title " | " .Site.Title }}</title>
  {{ else }}{{ with $.Site.Params.daisy.subtitle }}
  <title>{{ print $.Site.Title " - " . }}</title>
  {{ else }}
  <title>{{ $.Site.Title }}</title>
  {{ end }}{{ end }}
  {{ partial "components/style" . }} {{/* css */}}
  {{/* favicon */}}
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/vnd.microsoft.icon" />
  <link rel="icon" href="/images/favicon.ico" type="image/vnd.microsoft.icon" />
</head>
<body class="site-root" id="SiteRoot">
  <div class="site-inner" id="SiteInner">
    <div class="site-header" id="SiteHeader">{{ partial "header" . }}</div>
    <div class="site-main" id="SiteMain">
      <div class="site-left">{{ block "left" . }}{{ end }}</div>
      <div class="site-content">{{ block "main" . }}{{ end }}</div>
      <div class="site-comment">{{ partial "third-party/comment" . }}</div>
      <div class="site-right">{{ block "right" . }}{{ end }}</div>
    </div>
    <div class="site-footer" id="SiteFooter">{{ partial "footer" . }}</div>
    <div class="site-sidebar" id="SiteSidebar">{{ partial "sidebar" . }}</div>
  </div>
  {{ partial "components/js" . }} {{/* js */}}
</body>
</html>

{{/* vim:set ft=gohtmltmpl: */}}
