:root {
    --text-color: #3a3a3a;
}

div.post-body {
    counter-reset: imgCounter tblCounter equCounter;
}

.fancybox {
    cursor: pointer;
}

div.fancybox {
    width: fit-content;
    height: fit-content;
    margin: auto;
}

.img-wrap>img {
    margin-bottom: 0;
    vertical-align: middle;
}
.img-wrap-center>img {
    max-height: 30em;
}
.img-wrap-left>img,
.img-wrap-right>img {
    max-height: 30em;
}

.img-wrap-left,
.img-wrap-right {
    max-width: 400px;
    border: 10px solid #ffffff00;
}
.img-wrap-left  { float: left;  }
.img-wrap-right { float: right; }

.img-wrap-center {
    margin-bottom: 30px;
}
.image-caption{
    margin-top: 0.2em !important;
    margin-bottom: 0 !important;
}
.image-caption:not(details .image-caption) {
    counter-increment: imgCounter;
}
.image-caption:not(details .image-caption):before {
    content: "FIG." counter(imgCounter) " - ";
}

.image-description {
    margin-bottom: 0;
    color: #999;
}

/**************************************************************************************/

.center {
    text-align: center;
    text-shadow: 1px 1px;
    font-size: 30px;
}
.table-caption {
    display: block;
    margin-bottom: 0.2em;
    font-size: 14px;
    font-weight: bold;
    color: #999;
}
.table-caption:not(details .table-caption) {
    counter-increment: tblCounter;
}
.table-caption:not(details .table-caption):before  {
    content: "TBL." counter(tblCounter) " - "
}

/**************************************************************************************/

.hide {
    background-color: black;
    color: black;
    -webkit-transition: all .5s;
    border-radius: 0.2em;
    box-shadow: 0px 0px 0.2em 0.1em black;
    margin: 0 0.2em 0;
}

.hide:hover {
    color: white;
}

/**************************************************************************************/

@counter-style circled-number {
    system: fixed;
    symbols: ① ② ③ ④ ⑤ ⑥ ⑦ ⑧ ⑨ ⑩ ⑪ ⑫ ⑬ ⑭ ⑮ ⑯ ⑰ ⑱ ⑲ ⑳ ⑳;
}

.inline-list {
    counter-reset: hzlistCounter;
}

.inline-list-item {
    counter-increment: hzlistCounter;
}

.inline-list-item::before {
    content: counter(hzlistCounter, circled-number)
}

.inline-list-conjunction {
    font-size: 50%;
}

/**************************************************************************************/

/* for scripts/tags/align-text.js */

.align-text-right {
    text-align: right;
}
.align-text-center {
    text-align: center;
}
.align-text-left {
    text-align: left;
}

/**************************************************************************************/

/**************************************************************************************/

div.tabs {
    counter-reset: tabCounter;
}

li.tab {
    counter-increment: tabCounter;
}

li.tab>a::before {
    content: counter(tabCounter, upper-roman) ". ";
}

/**************************************************************************************/

h2.post-title {
    border-bottom: none;
    display: block;
    counter-reset: none;
    counter-increment: none;
}

/**************************************************************************************/

dd {
    padding: 0 0 0 0.5em;
    /* color: #707070ee; */
}

dd::before {
    content: "# ";
    font-weight: bold;
}

/**************************************************************************************/

p+ul:not(li>ul),
p+ol:not(li>ol) {
    margin-top: -15px;
    margin-bottom: 20px;
}

li p {
    margin-bottom: 0;
}

h1+p, h2+p, h3+p, h4+p, h5+p, h6+p {
    margin-top: 20px;
}

dd>ul, dd>ol
{
    margin-top: 0px;
    margin-bottom: 0px;
}

/**************************************************************************************/

.note-title {
    text-align: center;
    font-size: 30px;
}

.note.default>.note-title { color: #777;    text-shadow: 1px 1px #777;    }
.note.primary>.note-title { color: #6f42c1; text-shadow: 1px 1px #6f42c1; }
.note.success>.note-title { color: #5cb85c; text-shadow: 1px 1px #5cb85c; }
.note.info>.note-title    { color: #428bca; text-shadow: 1px 1px #428bca; }
.note.warning>.note-title { color: #f0ad4e; text-shadow: 1px 1px #f0ad4e; }
.note.danger>.note-title  { color: #d9534f; text-shadow: 1px 1px #d9534f; }

.note.default>summary { color: #777;    }
.note.primary>summary { color: #6f42c1; }
.note.success>summary { color: #5cb85c; }
.note.info>summary    { color: #428bca; }
.note.warning>summary { color: #f0ad4e; }
.note.danger>summary  { color: #d9534f; }

details.note.titled[open]>summary {
    visibility: hidden;
    height: 0;
}

details.note.titled[open]>.note-title {
    cursor: pointer;
}

summary+ol, summary+ul {
    margin-top: 0;
}

details.note {
    box-shadow: 3px 3px 5px 0px;
}

details[open] summary ~ *:not(.note-title) {
  animation: sweep .5s ease-in-out;
}

@keyframes sweep {
  0%    {opacity: 0; transform: translateY(-10px)}
  100%  {opacity: 1; transform: translateY(0)}
}

/**************************************************************************************/

div.sidebar-quote {
  border-left: none;
  margin: 40px 0;
  padding: 0;
  position: relative;
  text-align: center;
}
div.sidebar-quote::before,
div.sidebar-quote::after {
  left: 0;
  line-height: 1;
  opacity: 0.6;
  position: absolute;
  width: 100%;
}
div.sidebar-quote::before {
  /* border-top: 1px solid #ccc; */
  text-align: left;
  top: -20px;
  content: '\f10d';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}
div.sidebar-quote::after {
  /* border-bottom: 1px solid #ccc; */
  bottom: -20px;
  text-align: right;
  content: '\f10e';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}

p.sidebar-quote-content {
    text-align: left;
    margin: 0;
    height: auto;
    cursor: pointer;
}

p.sidebar-quote-from {
    text-align: right;
    margin: 0;
    font-size: 10px;
    font-style: italic;
}

/**************************************************************************************/

div.aplayer-list {
    text-align: left;
}

/**************************************************************************************/

.feed-link {
    margin-top: 10px;
}

mark:not(.search-keyword):not(.label){
    border-radius: 0.2em;
    box-shadow: 0px 0px 0.3em 0.1em yellow;
    color: inherit;
}

/**************************************************************************************/

.katex-display {
    display: table !important;
    width: 100%;
    counter-increment: equCounter;
}

.katex-display>.katex {
    display: table-cell;
}

.katex-display::after {
    width: 0;
    display: table-cell;
    text-align: right;
    vertical-align: middle;
}

.katex-display::after {
    content: "(" counter(equCounter) ")";
}

/**************************************************************************************/

body {
  overflow-x: hidden;
  overflow-y: scroll;
}

div.table-container {
    overflow: auto;
    margin-bottom: 1em;
}

table {
    margin: 0;
    white-space: nowrap;
}

body::-webkit-scrollbar,
.search-result-container::-webkit-scrollbar,
div.table-container::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.search-result-container::-webkit-scrollbar,
div.sidebar-panel-container::-webkit-scrollbar {
    width: 0;
}

body::-webkit-scrollbar-track,
/* .search-result-container::-webkit-scrollbar-track, */
div.table-container::-webkit-scrollbar-track {
  background: #dddddd;
}

body::-webkit-scrollbar-thumb,
/* .search-result-container::-webkit-scrollbar-thumb, */
div.table-container::-webkit-scrollbar-thumb {
  background-color: #85858599;
  border-radius: 4px;
}

body::-webkit-scrollbar-thumb:hover,
/* .search-result-container::-webkit-scrollbar:hover, */
div.table-container::-webkit-scrollbar-thumb:hover {
  background-color: #858585;
}

/**************************************************************************************/

* {
    text-decoration-thickness: 0.2em;
}

/**************************************************************************************/

.post-body a {
    --link-color: #FC6423;
    --link-hover-color: #FC642390;
    border-bottom: none;
}

a>code {
    border-bottom: 2px solid #ccc;
}

a>code:hover {
    /* -webkit-transition: all .3s; */
    color: var(--link-hover-color);
    border-bottom: 1px solid #ccc;
}

/**************************************************************************************/

.category-all-page .category-list-item {
    margin: 0.5px 2em 0.5px;
}

/**************************************************************************************/

abbr {
    cursor: pointer;
}

/**************************************************************************************/

li:hover::marker {
    color: #FC6423;
}

/* .post-block ol, */
/* .post-block ul:not(.post-copyright *) { */
/*     display: grid; */
/*     grid-template-columns: repeat(auto-fit, minmax(10em, auto)); */
/*     column-gap: 2em; */
/* } */

