.site-root {
    margin-left: 0;
    transition: all 0.2s ease-out;
}
@media (min-width: 1000px) {
    .site-root.sidebar-active {
        margin-left: 320px;
    }
}

#loading {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 99999;
}

.site-inner {
    height: 100%;
    display: grid;
    grid-template-areas: "header" "content" "footer";
    grid-template-rows: var(--header-height) auto var(--footer-height);
}
/* .site-header */
.site-header {
    grid-area: header;
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    background-color: var(--gray-light);
    transition: all .2s ease-out;
    width: 100%;
    overscroll-behavior: contain;
}
.site-header a {
    color: var(--black);
    text-decoration: none;
}
.site-header i {
    margin-right: 4px;
}
.site-title {
    margin: 0;
    font-size: var(--font-height-double);
    line-height: var(--header-height);
    font-family: var(--font-handwrite);
    user-select: none;
}
@media (min-width: 751px) {
    .main-menu .menu-item {
        padding: 0 10px;
    }
}
@media (max-width: 750px) {
    .site-header {
        grid-auto-flow: row;
    }
    .fullscreen-header .site-header {
        position: fixed;
        height: 100%;
        z-index: var(--z-fullscreen);
    }
    .main-menu {
        flex-direction: column;
        background: var(--gray-light);
        left: 0;
        width: 100%;
        display: none;
    }
    .fullscreen-header .main-menu {
        display: flex;
    }
    .fullscreen-header .main-menu .menu-item {
        padding: 10px 0;
    }
}
.main-menu {
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 2;
}
.main-menu a,
.main-menu .search {
    color: #555;
    cursor: pointer;
}
.main-menu .menu-item {
    display: inline-block;
    font-size: 15px;
    transition: all 0.4s;
}
.main-menu .menu-item:hover {
    background-color: #ddd;
    border-radius: 2px;
}
.main-menu .menu-item::marker {
    content: none;
}

/* .site-footer */
.site-footer {
    grid-area: footer;
    text-align: center;
    font-family: var(--font-serif);
    color: var(--gray-deep);
    font-size: 0.85em;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    line-height: 1.5;
}
.site-footer a {
    color: var(--orange);
    text-decoration: none;
}
.site-footer a:hover {
    color: var(--orange-deep);
}
.site-footer .division, .site-footer .heart { padding: 0 4px }
.site-footer .heart {
    color: red;
    animation-iteration-count: infinite;
    display: inline-block;
    animation-name: heartBeat;
}

/* .site-main */
.site-main {
    grid-area: content;
    display: grid;
    justify-content: space-between;
    align-content: space-between;
    grid-template-areas:
        "left content right"
        "left comment right";
    grid-template-columns: 1fr minmax(140px,var(--content-width)) 1fr;
    grid-column-gap: 20px;
}
@media (max-width: 750px) {
    .site-main {
        grid-template-areas:
            "left"
            "right"
            "content"
            "comment";
        grid-template-columns: minmax(140px,var(--content-width));
        margin: 0 10px;
    }
}
.site-content {
    grid-area: content;
    margin-bottom: 80px;
}
.site-comment {
    grid-area: comment;
    align-self: end;
}
.giscus {
    margin-bottom: 40px;
}

/* pjax loading bar */
.loading-track {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: var(--z-loadingbar);
    opacity: 0;
    transition: opacity .4s linear;
}
.loading-track.loading {
    opacity: 1;
}

@keyframes loading {
  0% {width: 0; opacity: 1;}
  50% {opacity: 0.9;}
  100% {width: 100%; opacity: 0;}
}

.loading-progress {
    margin: auto;
    height: 4px;
    background-color: #77b6ff;
    box-shadow: 0 0 3px 2px #77b6ff80;
    transition: width .4s ease;
    animation-name: loading;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}

/* 404 */
.not-found {
    margin: 100px 0;
    text-align: center;
    font-size: 3em;
    font-family: var(--font-handwrite);
}
.not-found .back-home {
    color: var(--orange);
    text-decoration: none;
}
.not-found .back-home:hover {
    color: var(--orange-deep);
    text-decoration: underline;
}
