.article-title {
    text-align: center;
    font-size: 24px;
    z-index: var(--z-overcontent);
    color: var(--black);
    /* font-weight: normal; */
}
.article-title:not(.page-title) {
    margin: 40px 0 0 0;
    position: sticky;
    top: 0px;
    background-color: var(--white);
    cursor: pointer;
}
.article-title:not(.page-title):hover {
    text-decoration: underline;
}
.page-title {
    text-align: left;
    margin: 0;
}

.article-metadata {
    text-align: center;
    color: var(--gray-deep);
    font-size: 0.875em;
    user-select: none;
}
@media (max-width: 650px) {
    .article-metadata .meta-section:not(:first-child) {
        display: none;
    }
}
.page-metadata {
    text-align: left;
}
.meta-item {
    display: inline;
}
.meta-item::marker {
    content: none;
}
.meta-item:not(:last-child)::after {
    content: "|";
    margin: 0 2px;
}
.meta-section {
    margin: 0;
    padding: 0;
}
.meta-item-value {
    border-bottom: 1px dashed;
}
.article-metadata a {
    text-decoration: none;
}

/* link */
.page-title a,
.article-metadata a,
.article-content a {
    color: var(--orange);
    transition: all 0.3s;
    text-decoration: none;
}
.page-title a:hover,
.article-metadata a:hover,
.article-content a:hover {
    color: var(--orange-deep);
    text-decoration: underline;
}
.heading a { color: var(--black) }

.page-nav {
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
    gap: 30px;

    padding-top: 10px;
    border-top: 1px solid #eee;
    margin-top: 40px;

    font-size: 0.875em;
    line-height: 1.6;
}
.page-nav a {
    color: var(--black);
    text-decoration: none;
    opacity: 0.6;
}
.page-nav a:hover {
    opacity: 1;
}
.page-nav .fa { font-size: 0.75em; }
.page-nav-prev .fa { margin-right: 5px; }
.page-nav-next .fa { margin-left: 5px; }
.page-nav-prev { text-align: left; }
.page-nav-next { text-align: right; }

/* image */
.image-wrap, figure {
    text-align: center;
}
.image-wrap img, figure img {
    width: 100%;
    max-width: 100%;
}
.image-wrap a[data-src], figure a[data-src] {
    cursor: pointer;
}
figure {
    margin: 24px 0;
}

/* caption */
figcaption, table caption {
    text-align: left;
}
figcaption>h4, table caption>h4{
    margin: 0;
    font-size: 1.125em;
    line-height: 1.1;
}
figcaption>h4::before {
    content: "Figure - ";
    color: var(--gray);
}
table caption>h4::before {
    content: "Table - ";
    color: var(--gray);
}
figcaption>p ,table caption>p{
    margin: 0;
    color: var(--gray-deep);
}

/* content font size */
.article-content {
    font-size: 1.125em;
    color: var(--black);
    overflow-wrap: break-word;
}

/* table */
table {
    border-collapse: collapse;
    border: 1px solid var(--gray-deep);
    width: 100%;
    font-size: 0.875em;
}
table:not(.highlight table) {
    white-space: nowrap;
    margin-top: 10px;
}
.table-container {
    overflow: auto;
}
table thead {
    border-bottom: 3px solid var(--gray-deep);
}
table thead th {
    color: var(--black);
}
table td, table th {
    padding: 0.5em 1em;
    border: 1px solid var(--gray-deep);
}
tbody:not(.highlight tbody) tr:nth-of-type(odd) {
    background-color: var(--gray-light);
}
tbody:not(.highlight tbody) tr:hover {
    transition: all 0.4s;
    background-color: var(--gray);
}

/* highlight & block */
code {
    line-height: 1.6;
    font-family: var(--font-code);
}
.highlight {
    margin-top: 10px;
    /* box-shadow: 1px 1px 2px #0005; */
    border: 8px solid #fafafa;
    border-radius: 4px;
}
.highlight pre {
    margin: 0;
}
.highlight td {
    margin: 0;
}
pre:not(.highlight pre) { /* block */
    margin-top: 10px;
    /* box-shadow: 1px 1px 2px #0005; */
    border: 8px solid var(--code-background);
    border-radius: 4px;
    background-color: var(--code-background);
    overflow: auto;
}
code:not(pre code) { /* inline block */
    margin-top: 10px;
    border: 2px solid var(--inline-code-background);
    border-radius: 3px;
    background-color: var(--inline-code-background);
}
.highlight tr td:first-child {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* list */
.article-content li p,
.article-content dd p {
    margin: 0;
}
/* .article-content li:hover, */
/* .article-content dd:hover { */
/*     background-color: #3a3a3a10; */
/* } */
.article-content li:hover::marker {
    color: var(--orange);
}
.article-content li,
.article-content dd {
    transition: all 0.4s;
}

/* heading */
h1.heading {
    font-size: 32px;
}
h2.heading {
    text-align: center;
    font-size: 28px;
    /* scrollIntoView 目前存在问题 */
    z-index: var(--z-overcontent);
    /* position: sticky; */
    /* top: 48px; */
    background-color: var(--white);
    counter-reset: h3Counter h4Counter h5Counter h6Counter;
    counter-increment: h2Counter;
}
h3.heading {
    font-size: 24px;
    counter-reset: h4Counter h5Counter h6Counter;
    counter-increment: h3Counter;
}
h4.heading {
    font-size: 22px;
    counter-reset: h5Counter h6Counter;
    counter-increment: h4Counter;
}
h5.heading {
    font-size: 20px;
    counter-reset: h6Counter;
    counter-increment: h5Counter;
}
h6.heading {
    font-size: 18px;
    counter-increment: h6Counter;
}

h2.heading:before {
    content: counter(h2Counter) ". ";
}
h3.heading:before {
    content: counter(h2Counter) "." counter(h3Counter) ". ";
}
h4.heading:before {
    content: counter(h2Counter) "." counter(h3Counter) "." counter(h4Counter) ". ";
}
h5.heading:before {
    content: counter(h2Counter) "." counter(h3Counter) "." counter(h4Counter) "." counter(h5Counter) ". ";
    /* content: counter(h5Counter, upper-roman) ". "; */
}
h6.heading:before {
    content: counter(h2Counter) "." counter(h3Counter) "." counter(h4Counter) "." counter(h5Counter) "." counter(h6Counter) ". ";
    /* content: counter(h6Counter, lower-alpha) ". "; */
}

/* kbd */
kbd {
    display: inline-block;
    padding: .25em;
    background-color: var(--white);
    border: 1px solid var(--gray);
    border-bottom-color: var(--gray-deep);
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 var(--gray-deep);
    font-size: .8em;
    line-height: 1.25;
    font-family: var(--font-code);
    color: var(--black);
}

/* footnote */
.footnotes hr {
    background-image: repeating-linear-gradient(
-45deg, #ddd, #ddd 4px, transparent 4px, transparent 8px);
    height: 2px;
    margin: 20px 0;
    border: none;
}

/* deflist */
dt {
    font-weight: bold;
}
dd {
    margin: 0;
}
dd::before {
    content: ":";
    color: var(--gray);
    font-weight: 1000;
    margin-right: 5px;
}

/* blockquote */
blockquote {
    border-left: 4px solid #ddd;
    color: var(--gray-deep);
    margin: 0;
    padding: 0 15px;
}

/* doc-structure */
.doc-structure-container {
    position: fixed;
    top: 0;
    bottom: 0;

    white-space: nowrap;
    width: 320px;
    right: -320px;
    transition: all .5s ease-out;
    z-index: var(--z-docs);
}
.doc-structure-container:hover {
    right: 0;
}
.doc-structure-container a {
    color: var(--gray-deep);
}
.doc-structure-container a:hover {
    color: var(--orange-deep);
}
.doc-structure-toggle {
    position: fixed;
    top: 120px;
    right: 0;

    font-size: 20px;
    width: 30px;
    height: 30px;
    background-color: var(--gray-light);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px 0 0 8px;
    z-index: var(--z-docs);
}
.doc-structure-content {
    position: relative;
    width: 100%;
    height: 100%;

    background-color: var(--gray-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 4px 0 0 4px;
    z-index: var(--z-docs);
}
.doc-structure-content li::marker {
    content: none;
}
.doc-structure-content li:hover {
    background-color: var(--gray);
}
.doc-structure-content ul {
    padding: 0 2px 5px 10px;
    margin: 0;
}
ul.doc-structure {
    padding: 0;
    margin-bottom: 10px;
    text-indent: 10px;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    overscroll-behavior: contain;
}
.doc-structure-content a {
    text-decoration: none;
}
.doc-first-title {
    font-size: 1.25em;
}

/* page-list */
.article-content+.page-list::before {
    content: "Child Pages";
    color: var(--gray);
    border-bottom: 1px solid var(--gray);
    display: block;
    width: 50%;
    margin: auto;
    text-align: center;
    font-size: 24px;
}
.page-list-item {
    margin-top: 20px;
}
.page-list-item .summary {
    color: var(--gray-deep);
}
.page-list-item .read-more {
    color: var(--orange);
    text-decoration: none;
}
.page-list-item .read-more:hover {
    color: var(--orange-deep);
}
.page-list-item:not(:first-child)::before {
    content: "";
    display: block;
    border-top: 2px dashed;
    width: 75%;
    margin: auto;
    color: var(--gray-light);
    margin-bottom: 20px;
}

/* short codes */

/* inline list */
@counter-style circled-number {
    system: fixed;
    symbols: ① ② ③ ④ ⑤ ⑥ ⑦ ⑧ ⑨ ⑩ ⑪ ⑫ ⑬ ⑭ ⑮ ⑯ ⑰ ⑱ ⑲ ⑳ ⑳;
}
.inline-list {
    counter-reset: hzlistCounter;
}
.inline-list-item {
    counter-increment: hzlistCounter;
}
.inline-list-item::before {
    content: counter(hzlistCounter, circled-number);
    margin: 0 2px;
}
.inline-list-conjunction {
    font-size: 50%;
}

/* hdt */
.hidden-text { background-color: var(--black) }
.hidden-text:hover { background-color: var(--white) }

/* tab */
.tab {
    border-left: 4px solid;
    border-radius: 2px;
    margin: 0 4px;
}
.tab+.tab {
    margin-top: 4px;
}
.tab-title { padding: 0 10px }
.tab-content { padding: 15px }
.tab-content>*:last-child:not(.tab) { margin-bottom: 0 }
.tab-content>*:first-child:not(.tab) { margin-top: 0 }
/* for details */
summary:focus-visible { outline: none }
summary.tab-title::marker { content: none }
summary.tab-title {
    display: flex;
    justify-content: space-between;
}
.tab-title-indicator {
    opacity: 0.5;
}
details[open] .tab-title-indicator {
    transform: rotate(90deg);
}
/* color */
.tab.default { border-color: #777777; box-shadow: 0 0 2px 2px #77777725; }
.tab.success { border-color: #5cb85c; box-shadow: 0 0 2px 2px #5cb85c25; }
.tab.primary { border-color: #6f42c1; box-shadow: 0 0 2px 2px #6f42c125; }
.tab.info    { border-color: #428bca; box-shadow: 0 0 2px 2px #428bca25; }
.tab.warning { border-color: #f0ad4e; box-shadow: 0 0 2px 2px #f0ad4e25; }
.tab.danger,
.tab.error   { border-color: #d9534f }
.tab.default > .tab-title { background-color: #77777725 }
.tab.success > .tab-title { background-color: #5cb85c25 }
.tab.primary > .tab-title { background-color: #6f42c125 }
.tab.info    > .tab-title { background-color: #428bca25 }
.tab.warning > .tab-title { background-color: #f0ad4e25 }
.tab.danger  > .tab-title,
.tab.error   > .tab-title { background-color: #d9534f25 }

/* small adjustments */
p:not(li p)+ol, p:not(li p)+ul {
    margin-top: -20px;
}
ins, del {
    text-decoration-thickness: 0.175em; /* default text decoration thickness */
}
