.article-title {
    text-align: center;
    font-size: 24px;
    color: var(--black);
    /* font-weight: normal; */
}
.article-title:not(.page-title) {
    margin: 40px 0 0 0;
    /* position: sticky; */
    /* top: 0px; */
    /* z-index: var(--z-title); */
    /* background-color: var(--white); */
    /* cursor: pointer; */
}
/* .article-title:not(.page-title):hover { */
/*     text-decoration: underline; */
/* } */
.page-title {
    text-align: left;
    margin: 0;
}

.article-metadata {
    text-align: center;
    color: var(--gray-deep);
    font-size: 0.875em;
    user-select: none;
    margin-top: 10px;
    line-height: 1.8;
}
.page-metadata {
    text-align: left;
}
.meta-item {
    display: inline;
}
.meta-item::marker {
    content: none;
}
.meta-item:not(:last-child)::after {
    content: "|";
    margin: 0 2px;
}
.meta-section {
    margin: 0;
    padding: 0;
}
.meta-item-value {
    border-bottom: 1px dashed;
    user-select: text;
}

/* link */
.page-title a,
.article-metadata a,
.article-content a {
    color: var(--link);
    transition: all 0.3s;
    text-decoration: underline;
    text-decoration-color: var(--gray-deep);
    text-decoration-thickness: 2px;
}
.page-title a,
.article-metadata a {
    text-decoration: none;
}
.page-title a:hover,
.article-metadata a:hover,
.article-content a:not(.page-list-item a[scroll]):hover {
    color: var(--orange-deep);
    text-decoration: underline;
    text-decoration-thickness: 2px;
}
.summary.article-content {
    margin: 18px 0;
}

.heading a { color: var(--black) }

.page-nav {
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
    gap: 30px;

    padding-top: 10px;
    border-top: 1px solid #eee;
    margin-top: 40px;

    font-size: 0.875em;
    line-height: 1.6;
}
.page-nav a {
    color: var(--black);
    text-decoration: none;
    opacity: 0.6;
}
.page-nav a:hover {
    opacity: 1;
}
.page-nav .fa { font-size: 0.75em; }
.page-nav-prev .fa { margin-right: 5px; }
.page-nav-next .fa { margin-left: 5px; }
.page-nav-prev { text-align: left; }
.page-nav-next { text-align: right; }

/* image */
.image-wrap, figure {
    text-align: center;
}
.image-wrap img, figure img {
    max-width: 100%;
    max-height: 75vh;
}
.image-wrap a[data-src], figure a[data-src] {
    cursor: pointer;
}
figure {
    margin: 24px 0;
    overflow: hidden;
    display: inline-block;
    width: 100%;
}
@media (min-width: 751px) {
    figure.float-left {
        float: left;
        max-width: 50%;
    }
    figure.float-right {
        float: right;
        max-width: 50%;
    }
    figure.left img {
        float: left;
        max-width: 75%;
    }
    figure.right img {
        float: right;
        max-width: 75%;
    }
}

/* caption */
figcaption, table caption {
    text-align: left;
    /* max-width: var(--content-width); */
}
figcaption>.title, table caption>.title{
    margin: 10px 0 0;
    font-size: 1.125em;
    line-height: 1.1;
    white-space: pre-wrap;
}
figcaption>.title::before {
    content: "Figure - ";
    color: var(--gray);
}
table caption>.title::before {
    content: "Table - ";
    color: var(--gray);
}
figcaption>.caption, table caption>.caption{
    line-height: 1.6;
    margin: 0;
    color: var(--gray-deep);
    white-space: pre-wrap;
}

/* content font size */
.article-content {
    font-size: 1.125em;
    color: var(--black);
    overflow-wrap: break-word;
}

/* table */
table {
    display: block;
    overflow: auto;
    margin: 15px auto;
    max-height: 75vh;
    white-space: nowrap;
    width: fit-content;
    max-width: 100%;
    font-size: 0.875em;
    border-collapse: separate;
    border-spacing: 0;
}
table th {
    border: 1px solid var(--gray-deep);
    border-bottom: 3px solid var(--gray-deep);
    position: sticky;
    z-index: var(--z-overcontent);
    top: 0;
    background-color: var(--white);
    padding: .3em 1em;
}
table td {
    border: 1px solid var(--gray-deep);
    padding: .3em 1em;
}
tbody tr:nth-of-type(even) {
    background-color: var(--white);
}
tbody tr:nth-of-type(odd) {
    background-color: var(--gray-light);
}
table.left-sticky td:first-child {
    position: sticky;
    left: 0;
    background-color: inherit;
}

/* highlight & block */
code {
    /* line-height: 1.6; */
    font-family: var(--font-code);
}
code > span > span:first-child {
    background-color: #fafafa;
    position: sticky;
    left: 0;
}
.highlight {
    margin: 10px 0;
    box-shadow: 1px 1px 2px #0005;
    border: 8px solid var(--code-background);
    border-radius: 4px;
    background-color: var(--code-background);
    display: inline-block;
    width: calc(100% - 16px);
    overflow-x: auto;
}
.highlight pre {
    margin: 0;
}
.highlight td {
    margin: 0;
}
pre:not(.highlight pre) { /* block */
    /* margin-top: 10px; */
    /* box-shadow: 1px 1px 2px #0005; */
    /* border: 8px solid var(--code-background); */
    /* border-radius: 4px; */
    background-color: var(--code-background);
    /* overflow: auto; */
    overflow-x: auto;
}
code:not(pre code) { /* inline block */
    margin-top: 10px;
    border-radius: 3px;
    background-color: var(--inline-code-background);
}
.highlight td:first-child {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: sticky;
    left: 0;
}

/* list */
.article-content li p,
.article-content dd p {
    margin: 0;
}
.article-content li::marker {
    color: var(--gray-deep);
}

/* heading */
.heading {
    display: inline-block;
    width: 100%;
    margin: 1ex 0;
}
h1.heading {
    font-size: var(--font-height-double);
}
h2.heading {
    text-align: center;
    font-size: 28px;
    /* scrollIntoView 目前存在问题 */
    z-index: var(--z-overcontent);
    /* position: sticky; */
    /* top: 48px; */
    background-color: var(--white);
    counter-reset: h3Counter h4Counter h5Counter h6Counter;
    counter-increment: h2Counter;
}
h3.heading {
    font-size: 24px;
    counter-reset: h4Counter h5Counter h6Counter;
    counter-increment: h3Counter;
}
h4.heading {
    font-size: 22px;
    counter-reset: h5Counter h6Counter;
    counter-increment: h4Counter;
}
h5.heading {
    font-size: 20px;
    counter-reset: h6Counter;
    counter-increment: h5Counter;
}
h6.heading {
    font-size: 18px;
    counter-increment: h6Counter;
}

.heading::before {
    color: var(--gray-deep);
}
h2.heading::before {
    content: counter(h2Counter) ". ";
}
h3.heading::before {
    content: counter(h2Counter) "." counter(h3Counter) ". ";
}
h4.heading::before {
    content: counter(h2Counter) "." counter(h3Counter) "." counter(h4Counter) ". ";
}
h5.heading::before {
    content: counter(h2Counter) "." counter(h3Counter) "." counter(h4Counter) "." counter(h5Counter) ". ";
    /* content: counter(h5Counter, upper-roman) ". "; */
}
h6.heading::before {
    content: counter(h2Counter) "." counter(h3Counter) "." counter(h4Counter) "." counter(h5Counter) "." counter(h6Counter) ". ";
    /* content: counter(h6Counter, lower-alpha) ". "; */
}
/* .heading-id { color: var(--gray-deep) } */
/* .heading-id::before { content: "#" } */
.heading-alias { color: var(--gray-deep) }
.heading-alias::before { content: "·" }

/* kbd */
kbd {
    display: inline-block;
    padding: .25em;
    background-color: var(--white);
    border: 1px solid var(--gray);
    border-bottom-color: var(--gray-deep);
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 var(--gray-deep);
    font-size: .8em;
    line-height: 1.25;
    font-family: var(--font-code);
    color: var(--black);
}

/* footnote */
hr {
    background-image: repeating-linear-gradient(-45deg, #ddd, #ddd 4px, transparent 4px, transparent 8px);
    height: 2px;
    margin: 20px 0;
    border: none;
}

/* deflist */
dt {
    font-weight: bold;
    display: inline;
    float: left;
}
dt::after {
    content: ": ";
    color: var(--gray-deep);
    font-weight: bold;
    margin-right: 5px;
}
dd {
    margin: 0;
}
dd:not(dt+dd) {
    text-indent: 1em;
}
dd:not(dt+dd)::before {
    content: "#";
    color: var(--gray-deep);
    font-weight: bold;
    margin-right: 5px;
}

/* blockquote */
blockquote {
    border-left: 4px solid #ddd;
    color: var(--gray-deep);
    margin: 0;
    padding: 0 15px;
}

/* series */
.series-container {
    position: fixed;
    top: 0;
    bottom: 0;

    white-space: nowrap;
    width: 320px;
    right: -325px;
    transition: all .5s ease-out;
    z-index: var(--z-series);
}
.series-container:hover {
    right: 0;
}
.series-container a {
    color: var(--gray-deep);
    text-decoration: none;
}
.series-container a:hover {
    color: var(--orange-deep);
}
.series-title.now, .series-item.now {
    color: var(--orange);
}
.series-toggle {
    position: fixed;
    top: 120px;
    right: 0;

    font-size: 20px;
    width: 30px;
    height: 30px;
    background-color: var(--gray-light);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px 0 0 8px;
    z-index: var(--z-series);
}
.series-content {
    height: 100%;
    background-color: var(--gray-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 4px 0 0 4px;
    z-index: var(--z-series);
    line-height: 1.5;
}
.series-content li::marker {
    content: none;
}
.series-content ul {
    padding: 0 2px 5px 15px;
    margin: 0;
}
.series-list {
    padding: 0;
    margin-bottom: 10px;
    text-indent: 10px;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    overscroll-behavior: contain;
}
.series-title {
    font-size: 1.25em;
}

/* page-list */
.article-content+.page-list::before {
    content: "Child Pages";
    color: var(--gray);
    border-bottom: 2px dashed var(--gray);
    display: block;
    width: 50%;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    font-size: 24px;
}
.page-list-item {
    margin-top: 20px;
}
.page-list-item .summary {
    color: var(--gray-deep);
}
/* .page-list-item .read-more { */
/*     color: var(--orange); */
/*     text-decoration: none; */
/* } */
/* .page-list-item .read-more:hover { */
/*     color: var(--orange-deep); */
/* } */
.page-list-item:not(:first-child)::before {
    content: "";
    display: block;
    border-top: 2px dashed;
    width: 75%;
    margin: auto;
    color: var(--gray-light);
    margin-bottom: 20px;
}

/* short codes */

/* inline list */
@counter-style circled-number {
    system: fixed;
    symbols: ① ② ③ ④ ⑤ ⑥ ⑦ ⑧ ⑨ ⑩ ⑪ ⑫ ⑬ ⑭ ⑮ ⑯ ⑰ ⑱ ⑲ ⑳ ⑳;
}
.inline-list {
    counter-reset: hzlistCounter;
}
.inline-list-item {
    counter-increment: hzlistCounter;
}
.inline-list-item::before {
    content: counter(hzlistCounter, circled-number);
    color: var(--gray-deep);
    margin: 0 2px;
}
.inline-list-conjunction {
    font-size: 50%;
}

/* hdt */
.hidden-text { background-color: var(--black) }
.hidden-text:hover { background-color: inherit }

/* tab */
.tab {
    border-left: 4px solid;
    border-radius: 2px;
    margin: 0 4px;
    width: calc(100% - 8px);
}
.tab+.tab {
    margin-top: 4px;
}
.tab-title { padding: 0 10px }
.tab-content { padding: 15px }
.tab-content>*:last-child:not(.tab) { margin-bottom: 0 }
.tab-content>*:first-child:not(.tab) { margin-top: 0 }
/* for details */
summary:focus-visible { outline: none }
summary.tab-title::marker { content: none }
summary.tab-title {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.tab-title-indicator {
    opacity: 0.5;
}
details[open]>summary>.tab-title-indicator {
    transform: rotate(90deg);
}
/* color */
.tab.default { border-color: #777777; box-shadow: 0 0 2px 2px #77777725; }
.tab.success { border-color: #5cb85c; box-shadow: 0 0 2px 2px #5cb85c25; }
.tab.primary { border-color: #6f42c1; box-shadow: 0 0 2px 2px #6f42c125; }
.tab.info    { border-color: #428bca; box-shadow: 0 0 2px 2px #428bca25; }
.tab.warning { border-color: #f0ad4e; box-shadow: 0 0 2px 2px #f0ad4e25; }
.tab.danger,
.tab.error   { border-color: #d9534f; box-shadow: 0 0 2px 2px #d9534f25; }
.tab.default > .tab-title { background-color: #77777725 }
.tab.success > .tab-title { background-color: #5cb85c25 }
.tab.primary > .tab-title { background-color: #6f42c125 }
.tab.info    > .tab-title { background-color: #428bca25 }
.tab.warning > .tab-title { background-color: #f0ad4e25 }
.tab.danger  > .tab-title,
.tab.error   > .tab-title { background-color: #d9534f25 }

/* sa - see also */
.see-also::before {
    content: "See also:";
    color: var(--gray);
    white-space: nowrap;
}
.see-also a {
    background-color: var(--gray-light);
    border-radius: 4px;
    padding: 2px;
    max-width: var(--content-width);
}

/* bilibili & youtube */
.vedio-container {
    height: 0;
    margin: 10px 15px;
    overflow: hidden;
    padding-top: 75%;
    position: relative;
    width: calc(100% - 30px);
}
.vedio-container iframe,
.vedio-container object,
.vedio-container embed {
    height: 100%;
    left: 0;
    margin: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

/* small adjustments */
/* p:not(li p)+ol, p:not(li p)+ul { */
/*     margin-top: -20px; */
/* } */

/* .article-content p, */
/* .article-content ul, */
/* .article-content ol, */
/* .article-content dl { */
/*     line-height: var(--font-height-double); */
/* } */


/* a.exturl::before { */
/*     content: "\f360"; */
/*     font-family: 'Font Awesome 5 Free'; */
/*     font-weight: 900; */
/*     margin: 0 0.1em; */
/* } */
/* sup, sub { */
/*     font-size: 75%; */
/*     line-height: 0; */
/*     position: relative; */
/* } */
/* sup { vertical-align: super } */
/* sub { vertical-align: sub } */
ins {
    text-decoration: none;
    border-bottom: 0.16em solid;
}
del {
    /* text-decoration-color: red; */
    text-decoration-thickness: 0.16em;
}
mjx-container {
    overflow-x: auto;
    overflow-y: hidden;
}

/* anchors */
a[scroll]:not(.page-list-item a) {
    cursor: pointer;
}
.page-list-item a[scroll] {
    color: var(--gray-deep);
}
.page-list-item a[anchor]:hover {
    color: var(--gray-deep);
}
a[scroll]:not(.page-list-item a, #TableOfContents a, .footnote-backref, .footnote-ref, .heading a)::before {
    content: "#";
    font-weight: bold;
}

.article-content [target="_blank"]::after {
    content: " \f35d ";
    border-bottom: none;
    font-family: 'font awesome 5 free';
    font-weight: 900;
    font-size: 50%;
    vertical-align: super;
}

/* custom */
.heading.medicine::after {
    content: "\f484";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: #82c91e;
    margin: 0 5px;
}
.heading.item::before {
    content: "【";
    color: var(--gray-deep);
}
.heading.item::after {
    content: "】";
    color: var(--gray-deep);
}
.heading.important a {
    color: red;
}

