:root {
    line-height: 2;

    --header-height: 80px;
    --footer-height: 64px;

    --font-handwrite: 'Indie Flower', cursive;
    --font-code: 'JetBrains Mono', monospace;
    --font-sans: 'Roboto', 'Noto Sans SC', sans-serif;
    --font-serif: 'Andada Pro', 'Noto Serif SC', serif;

    --white: #ffffff;
    --gray: #cccccc;
    --gray-light: #f0f0f0;
    --gray-deep: #818181;
    --black: #1b1b1b;
    --orange: #ff8855;
    --orange-deep: #ff6020;
    --code-background: #fafafa;
    --inline-code-background: #fff6db;

    --z-overcontent: 1;
    --z-docs: 10;
    --z-sidebar: 100;
    --z-loadingbar: 1000;
    --z-fullscreen: 9999;
}

body, html {
    height: 100%;
}

body {
    scroll-behavior: smooth;
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: var(--font-sans); /* default font family */
}

h1, h2, h3, h4, h5, h6 { font-family: var(--font-serif) }

a[scroll] {
    cursor: pointer;
}
a[scroll]:not(#TableOfContents a, .footnote-backref, .footnote-ref, .heading a)::before {
    content: "#";
    font-weight: bold;
}

#TableOfContents li, .doc-structure li {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

