*::-webkit-scrollbar {
    width: 0.5vw;
    max-width: 5px;
    min-width: 3px;
    height: 0.5vh;
    max-height: 5px;
    min-height: 3px;
}

*::-webkit-scrollbar-track {
    border-radius: 2px;
}

*::-webkit-scrollbar-thumb {
    background-color: #85858599;
    border-radius: 2px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #858585;
}

.series-list::-webkit-scrollbar,
.sidebar-content::-webkit-scrollbar {
    width: 0; /* Chrome */
}
.series-list, .sidebar-content {
    -ms-overflow-style: none; /* IE 11 */
    scrollbar-width: none; /* Firefox 64 */
}
