.site-sidebar {
    position: fixed;
    top: 0;
    left: -320px;

    width: 300px;
    padding: 18px 10px;
    height: 100%;
    color: var(--gray-deep);
    background: var(--black);
    transition: all 0.2s ease-out;

    display: flex;
    flex-direction: column;
    text-align: center;

    line-height: 1.5;

    z-index: 1000;
}

.sidebar-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 65px;
    overflow: hidden;
    overscroll-behavior: contain;
}

.sidebar-content {
    overflow: auto;
}

.sidebar-active .site-sidebar {
    left: 0;
}

.site-sidebar a {
    color: var(--gray-deep);
}
.site-sidebar a:hover {
    color: var(--gray);
}

/* sidebar nav */
.sidebar-nav {
    margin-bottom: 15px;
    animation: fadeRight 0.5s ease-out;
}
.sidebar-nav-item.active, .sidebar-nav-item.active:hover {
    color: var(--orange);
}
.sidebar-nav-item {
    opacity: 0.6;
    cursor: pointer;
    font-size: 85%;
    color: var(--gray-deep);
}
.sidebar-nav-item:hover {
    opacity: 1;
    border-bottom: 1px solid;
}
.sidebar-pannel {
    animation: fadeRight 0.5s ease-out;
}
@keyframes fadeRight {
    0%    {opacity: 0; transform: translateX(-20px)}
    100%  {opacity: 1; transform: translateX(0)}
}
.sidebar-pannel:not(.active) {
    display: none;
}

/* sidebar toggle */
.sidebar-toggle {
    background: var(--black);
    position: fixed;
    bottom: 45px;
    left: 30px;
    width: 14px;
    height: 12px;
    padding: 6px 5px;

    font-size: 15px;
    display: grid;
    align-content: center;
    text-align: center;

    cursor: pointer;
}
.sidebar-toggle .toggle-line {
    position: relative;
    display: block;
    height: 2px;
    width: 100%;
    margin: 1.5px 0;
    background-color: var(--white);
    opacity: 0.75;
    transition: all 0.4s;
}
/* hover */
.sidebar-toggle:hover .toggle-line {
    opacity: 1;
}
.site-root:not(.sidebar-active) .sidebar-toggle:hover .toggle-line.over {
    transform: translate(4px, 2px) skew(45deg) scale(0.2,3);
}
.site-root:not(.sidebar-active) .sidebar-toggle:hover .toggle-line.below {
    transform: translate(4px, -2px) skew(-45deg) scale(0.2,3);
}
/* sidebar actived */
.sidebar-active .sidebar-toggle .toggle-line.over {
    transform: translate(0px, 5px) rotate(45deg);
}
.sidebar-active .sidebar-toggle:not(:hover) .toggle-line.middle {
    opacity: 0;
}
.sidebar-active .sidebar-toggle .toggle-line.below {
    transform: translate(0px, -5px) rotate(-45deg);
}
.sidebar-active .sidebar-toggle:hover .toggle-line.over {
    transform: translate(-4px, 2px) skew(-45deg) scale(0.2,3);
}
.sidebar-active .sidebar-toggle:hover .toggle-line.below {
    transform: translate(-4px, -2px) skew(45deg) scale(0.2,3);
}

#TableOfContents {
    text-align: left;
    margin-top: 10px;
}
.toc-title {
    font-size: 1.5em;
    margin: 0;
    cursor: pointer;
}
.toc-title:hover {
    color: var(--gray);
    text-decoration: underline;
}
.sidebar-toc a {
    color: var(--gray-deep);
    text-decoration: none;
}
.sidebar-toc a:hover {
    color: var(--gray);
    text-decoration: underline;
}
.sidebar-toc ul {
    padding: 0 2px 5px 10px;
    margin: 0;
}
.sidebar-toc li::marker {
    content: none;
}

/* sidebar avatar */
.sidebar-avatar {
    text-align: center;
}
.site-avatar-image {
    max-width: 96px;
    border: 2px solid #333;
    padding: 2px;
    border-radius: 50%;
    transition: transform 1s ease-out;
}
.site-avatar-image:hover{
    transform: rotateZ(360deg);
}

.site-author-name {
    margin: 5px 0 0;
    color: var(--gray);
}
.site-description {
    margin: 5px 0 0;
    line-height: 1.5;
}

/* sidebar quote */
.sidebar-quote {
    margin-top: 25px;
    width: 100%;
    text-align: left;
}
.sidebar-quote-content {
    cursor: pointer;
    line-height: 1.5;
    margin: 0;
}
.sidebar-quote-from {
    margin: 0;
    text-align: right;
    font-style: italic;
    font-size: smaller;
    opacity: 0.8;
}

/* site state */
.site-state {
    margin: 25px auto 0;
    width: fit-content;

    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 5px;

    line-height: 1.75;
}
.site-state-item {
    text-decoration: none;
}
.site-state-num {
    font-weight: 600;
    font-size: 125%;
    margin: 0;
}
.site-state-name {
    font-size: 85%;
    margin: 0;
}

/* sidebar music */
.sidebar-music {
    margin-top: 15px;
}
meting-js {
    all: initial;
}

/* back to top */
.back2top {
    width: fit-content;
    margin: 10px auto 0;
    font-size: .85em;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0 3px;
    color: var(--gray);
}
.back2top:hover {
    color: var(--gray-light);
}
.back2top-progress {
    margin-left: 0.1em;
}
.site-root:not(.sidebar-active) .back2top {
    position: fixed;
    bottom: 45px;
    left: 54px;
    background-color: var(--black);
    height: 24px;
    margin: auto 0;
}
