.tag-cloud {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px 20px;
    margin-top: 20px;
}

.tag-cloud-item {
    text-decoration: none;
    color: var(--black);
    white-space: nowrap;
    height: 100%;
}

.tag-cloud-item.now {
    color: var(--orange);
}

.tag-cloud-item:hover {
    color: var(--orange-deep);
}

.tag-cloud.side {
    margin-top: 0;
    min-width: 250px;
    position: sticky;
    top: 0;
}

.tag-cloud-title {
    width: 100%;
    text-align: center;
}
