{{- define "main" -}}
  <h1 class="article-title">{{ .Title }}</h1>
  <div class="article-metadata">{{ partial "components/metadata.html" . }}</div>
  {{- partial "components/top-refs" . -}}
  {{- with .Content -}}
    <div class="article-content">
      {{- . -}}
    </div>
  {{- end -}}
  {{- with .Pages -}}
    <div class="page-list">
      {{- range .ByDate.Reverse -}}
      <div class="page-list-item">
        <h1 class="page-title article-title"><a href="{{ .RelPermalink }}">{{ if not .IsSection }}{{ time.Format "2006-01-02" .Date | title }}{{ end }}{{ with .Title }} {{ . }}{{ end }}</a></h1>
        <div class="page-metadata article-metadata">{{ partial "components/metadata" . }}</div>
        {{- partial "components/summary" . -}}
      </div>
      {{- end -}}
    </div>
  {{- end -}}
{{- end -}}

{{- define "right" -}}
  {{- partial "components/related" . -}}
{{- end -}}
{{- /* vim:set ft=gohtmltmpl ts=2 sw=2: */ -}}
