{{- define "title" -}}
  {{- if .Title -}}
    <title>{{ print .Title " " (time.Format "2006-01-02" .Date) " | " .Site.Title }}</title>
  {{- else -}}
    <title>{{ print (time.Format "2006-01-02" .Date) " | " .Site.Title }}</title>
  {{- end -}}
{{- end -}}

{{- define "main" -}}
  <h1 class="article-title single-title">{{ time.Format "2006-01-02" .Date | title }} {{ .Title }}</h1>
  <div class="article-metadata">{{ partial "components/metadata.html" . }}</div>
  {{- partial "components/top_refs" . -}}
  {{- with .Content -}}
    <div class="article-content">
      {{- . -}}
    </div>
  {{- end -}}
{{- end -}}
{{/* vim:set ft=gohtmltmpl: */}}
