<div id="fastSearch">
  <div class="fast-search-container">
    <div class="fast-search-header">
      <input id="searchInput" tabindex="-1" disabled autocomplete="off">
      <div class="fast-search-toggle" id="searchToggle"><i class="fas fa-xmark" aria-hidden="true"></i></div>
    </div>
    <ul id="searchResults">
      <div id="searchLoading" class="lds-default"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </ul>
  </div>
</div>
<script src="/js/fuse.min.js"></script>
<script src="/js/fastsearch.js"></script>
{{- /* vim:set ft=gohtmltmpl ts=2 sw=2: */ -}}
