{{- $theme := .Site.Params.daisy -}}
{{- $hasTOC := ge (len .TableOfContents) 40 -}}
<div class="sidebar-container">
  <div class="sidebar-nav">
    {{- if $hasTOC -}}
      <span class="sidebar-nav-item sidebar-nav-docs">Table of Content</span>
      <span class="sidebar-nav-item sidebar-nav-overview">Overview</span>
    {{- end -}}
  </div>
  <div class="sidebar-content">
    <div class="sidebar-toc sidebar-pannel">
    {{- if $hasTOC -}}
      <h1 class="toc-title" id="TOCTitle">{{ .Title }}</h1>
      {{- .TableOfContents -}}
    {{- end -}}
    </div>
    <div class="sidebar-overview sidebar-pannel">
      <div class="sidebar-avatar">
        <a href="/about"><img class="site-avatar-image" alt="{{ .Site.Author.nickname }}" src="{{ .Site.Author.avatar }}"></a>
      </div>
      <p class="site-author-name">{{ partial "components/getname" . }}</p>
      <p class="site-description">{{ with $theme.description }}{{ . }}{{ else }}Subtitle here{{ end }}</p>
      {{- with $theme.social -}}
      <div class="sidebar-social">
        {{- with .email -}}
        <a class="sidebar-social-item" href="mailto:{{ . }}"><i class="fas fa-envelope"></i>E-Mail</a>
        {{- end -}}
        {{- with .github -}}
        <a class="sidebar-social-item" target="_blank" href="{{ . }}"><i class="fab fa-github"></i>Github</a>
        {{- end -}}
      </div>
      {{- end -}}
      <div class="site-state">
        <a class="site-state-item" href="/">
          <p class="site-state-num">{{ len .Site.RegularPages }}</p>
          <p class="site-state-name">Pages</p>
        </a>
        <a class="site-state-item" href="/docs">
          <p class="site-state-num">{{ len (.GetPage "docs").Sections }}</p>
          <p class="site-state-name">Docs</p>
        </a>
        <a class="site-state-item" href="/categories">
          <p class="site-state-num">{{ len .Site.Taxonomies.categories }}</p>
          <p class="site-state-name">Categories</p>
        </a>
        <a class="site-state-item" href="/tags">
          <p class="site-state-num">{{ len .Site.Taxonomies.tags }}</p>
          <p class="site-state-name">Tags</p>
        </a>
      </div>
      <div class="sidebar-quote">
      {{- if eq $theme.quote.enable "jinrishici" -}}
        <p class="sidebar-quote-content" id="SidebarQuoteContent">主人不来过夜半，闲敲棋子落灯花。</p>
        <p class="sidebar-quote-from" id="SidebarQuoteFrom">——宋代·赵师秀《约客》</p>
      {{- else if eq $theme.quote.enable "rainbow" -}}
        <p class="sidebar-quote-content">🌈 获取中...</p>
        <p class="rainbow-from"></p>
      {{- end -}}
      </div>
      {{- if $theme.music.enable -}}
      <div class="sidebar-music">{{ partial "third-party/music" . }}</div>
      {{- end -}}
      {{- with $theme.links -}}
      <div class="sidebar-links">
        <div class="sidebar-links-title"><i class="fas fa-user-friends"></i>友链</div>
        {{- range $text,$url := . -}}
        <a class="sidebar-links-item" href="{{ $url }}">{{ $text | markdownify | safeHTML }}</a>
        {{- end -}}
      </div>
      {{- end -}}
    </div>
  </div>
  <div class="back2top" id="Back2top" role="button">
    <i class="fas fa-angle-double-up"></i>
    <span class="back2top-progress" id="Back2topProgress"></span>
  </div>
</div>
<div class="sidebar-toggle" id="SidebarToggle" role="button">
  <span class="toggle-line over"></span>
  <span class="toggle-line middle"></span>
  <span class="toggle-line below"></span>
</div>
{{/* vim:set ft=gohtmltmpl: */}}
