{{- define "title" -}}
  {{- if site.Params.daisy.subtitle -}}
  <title>{{ print site.Title " - " site.Params.daisy.subtitle }}</title>
  {{- else -}}
  <title>{{ site.Title }}</title>
  {{- end -}}
{{- end -}}

{{- define "main" -}}
  {{- with .Content -}}
    <div class="article-content">
      {{- . -}}
    </div>
  {{- end -}}
  {{- with .Sections -}}
    {{- partial "components/section-list" . -}}
  {{- end -}}
  <div class="most-referenced">
  {{- if .Site.Data.refs -}}
    {{- range first 10 (sort .Site.Data.refs "count" "desc") -}}
      {{- $page := site.GetPage (index . "file_ref") -}}
    <div class="page-list-item {{ $page.Kind }}">
      <h1 class="page-title article-title"><a href="{{ $page.RelPermalink }}">{{ $page.Title }}</a></h1>
      <div class="page-metadata article-metadata">{{ partial "components/metadata" $page }}</div>
      {{- partial "components/summary" $page -}}
    </div>
    {{- end -}}
  {{- end -}}
  </div>
{{- end -}}
{{- /* vim:set ft=gohtmltmpl ts=2 sw=2: */ -}}
