{{- define "title" -}}
  {{- if site.Params.daisy.subtitle -}}
  <title>{{ print site.Title " - " site.Params.daisy.subtitle }}</title>
  {{- else -}}
  <title>{{ site.Title }}</title>
  {{- end -}}
{{- end -}}

{{- define "main" -}}
  {{- with .Content -}}
    <div class="article-content">
      {{- . -}}
    </div>
  {{- end -}}
  {{- with .Sections -}}
    {{- partial "components/section-list" . -}}
  {{- end -}}
  <div class="pages-recommended">
    <div class="pages-recommended-switch-container">
      <span class="pages-recommended-switch recently-modified" role="button">Recently Modified</span>
      <span class="pages-recommended-switch most-referenced selected" role="button">Most Referenced</span>
      <span class="pages-recommended-switch recently-published" role="button">Recently Published</span>
    </div>
    {{- $pages := slice }}
    {{- range .Site.Pages }}
      {{- if ne .Parent site.Home }}
        {{- $pages = $pages | append . }}
      {{- end }}
    {{- end }}
    <div class="pages-recommended-tab recently-modified">
      {{- range first 10 $pages.ByLastmod.Reverse -}}
      <div class="page-list-item {{ .Kind }}">
        <h1 class="page-title article-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
        <div class="page-metadata article-metadata">{{ partial "components/metadata" . }}</div>
        {{- partial "components/summary" . -}}
      </div>
      {{- end -}}
    </div>
    <div class="pages-recommended-tab most-referenced selected">
    {{- if .Site.Data.refs -}}
      {{- range first 10 (sort .Site.Data.refs "count" "desc") -}}
        {{- $page := site.GetPage (index . "file_ref") -}}
      <div class="page-list-item {{ $page.Kind }}">
        <h1 class="page-title article-title"><a href="{{ $page.RelPermalink }}">{{ $page.Title }}</a></h1>
        <div class="page-metadata article-metadata">{{ partial "components/metadata" $page }}</div>
        {{- partial "components/summary" $page -}}
      </div>
      {{- end -}}
    {{- end -}}
    </div>
    <div class="pages-recommended-tab recently-published">
      {{- range first 10 $pages.ByPublishDate.Reverse -}}
      <div class="page-list-item {{ .Kind }}">
        <h1 class="page-title article-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
        <div class="page-metadata article-metadata">{{ partial "components/metadata" . }}</div>
        {{- partial "components/summary" . -}}
      </div>
      {{- end -}}
    </div>
    <script>
      (function(){
        var switches = document.getElementsByClassName("pages-recommended-switch");
        var tabs = document.getElementsByClassName("pages-recommended-tab");
        for (s of switches) {
          s.onclick = function() {
            for (var ti = 0; ti < tabs.length; ti++) {
              if (switches[ti] == this) {
                tabs[ti].classList.add("selected");
                tabs[ti].style.order = "-1";
                this.classList.add("selected");
              } else {
                tabs[ti].style.order = "0";
                tabs[ti].classList.remove("selected");
                switches[ti].classList.remove("selected");
              }
            }
          }
        }
      })()
    </script>
  </div>
{{- end -}}
{{- /* vim:set ft=gohtmltmpl ts=2 sw=2: */ -}}
