<figure{{ with .Get "class" }} class="{{ . }}"{{ end }}>
  {{- if .Get "link" -}}
  <a href="{{ .Get "link" }}"{{ with .Get "target" }} target="{{ . }}"{{ end }}{{ with .Get "rel" }} rel="{{ . }}"{{ end }}>
  {{ else if .Site.Params.daisy.fancybox.enable }}
  <a data-fancybox data-src="{{ .Get "src" | safeURL }}">
  {{- end }}
    <img src="{{ .Get "src" | safeURL }}"
      {{- if or (.Get "alt") (.Get "caption") }}
      alt="{{ with .Get "alt" }}{{ . }}{{ else }}{{ .Get "caption" | markdownify| safeHTML }}{{ end }}"
      {{- end -}}
      {{- with .Get "width" }} width="{{ . }}"{{ end -}}
      {{- with .Get "height" }} height="{{ . }}"{{ end -}}
    /> <!-- Closing img tag -->
  {{- if or (.Get "link") .Site.Params.daisy.fancybox.enable }}</a>{{ end -}}
  {{- if or (or (.Get "title") (.Get "caption")) (.Get "attr") -}}
    <figcaption>
      {{ with (.Get "title") -}}
      <h4 class="title">{{ . }}</h4>
      {{- end -}}
      {{- if or (.Get "caption") (.Get "attr") -}}<p class="caption">
        {{- .Get "caption" | markdownify -}}
        {{- with .Get "attrlink" }}
        <a href="{{ . }}">
        {{- end -}}
        {{- .Get "attr" | markdownify -}}
        {{- if .Get "attrlink" }}</a>{{ end }}</p>
      {{- end }}
    </figcaption>
  {{- end }}
</figure>
