{{- $id := .Get "id" -}}
{{- $fancybox := default .Site.Params.daisy.fancybox.enable (.Get "fancybox") -}}
{{- $embed := .Get "embed" -}}
{{- $link := .Get "link" -}}
{{- $crossrefs := false -}}
{{- if $id -}}{{- if and site.Data.refs .Page.File -}}{{- if index site.Data.refs .Page.File.Path -}}{{- if index (index site.Data.refs .Page.File.Path).link_here $id -}}
{{- $crossrefs = true -}}
{{- end -}}{{- end -}}{{- end -}}{{- end -}}
{{- $src := .Get "src" | safeURL -}}
{{- $isURL := (findRE "^(ftp|sftp|file|ftps?|gemini|git|gopher|https?|ircs?|kitty|mailto|news|ssh)://|^/" $src)  -}}
{{- if not $isURL -}}
  {{- if $embed -}}
    {{- $src = print (urls.Parse .Page.RelPermalink).Path $src -}}
  {{- else -}}
    {{- $src = print .Page.RelPermalink $src -}}
  {{- end -}}
{{- end -}}
<figure
  {{- with or (.Get "class") (.Get "style") }} class="{{ . }}"{{ end -}}
  {{- with $id }} id="{{ . }}"{{ end -}}
  {{- with .Get "width" }} style="width:{{ . }}"{{ end -}}
>
  {{- if $link -}}
  <a href="{{ $link }}" target="{{ with .Get "target" }}{{ . }}{{ else }}_blank{{ end }}">
  {{- end -}}

  {{- if $embed -}}
    <div class="diagram-scroll"
      {{- if and $fancybox ($link | not) }} data-fancybox data-src="{{ $src }}"{{ end -}}
      >
      <div class="svg-wrap"{{ with $.Get "img-width" }} style="width:min({{ . }}, 100%)"{{ end }}>
      {{- if $isURL -}}
        {{- with resources.GetRemote $src }}
          {{- with .Err -}}
            {{- errorf "The %q shortcode was unable to get the remote SVG file. Details: %s. See %s" $.Name . $.Position -}}
          {{- else -}}
                {{- .Content | safeHTML -}}
          {{- end -}}
        {{- end -}}
      {{- else -}}
        {{- readFile $src | safeHTML -}}
      {{- end -}}
      </div>
    </div>
  {{- else -}}
    <img src="{{ $src }}"
      {{- if and $fancybox ($link | not) }} data-fancybox data-src="{{ $src }}"{{ end -}}
      {{- if or (.Get "alt") (.Get "title") }}
      alt="{{ with .Get "alt" }}{{ . }}{{ else }}{{ .Get "title" }}{{ end }}"
      {{- end -}}
      {{- with .Get "img-width" }} width="min({{ . }}, 100%)"{{ end -}}
      {{- with .Get "height" }} height="{{ . }}"{{ end -}}
    />
  {{- end -}}

  {{- if $link -}}
  </a>
  {{- end -}}

  {{- if or (or (.Get "title") (.Get "caption")) (.Get "attr") | or $crossrefs -}}
    <figcaption>
      {{- if $crossrefs -}}
        {{- partial "components/cross-refs.html" (dict "page" .Page "index" $id) -}}
      {{- end -}}
      {{- with (.Get "title") }}<h4 class="title">{{ . | markdownify }}</h4>{{ end -}}
      {{- if or (.Get "caption") (.Get "attr") -}}<p class="caption">
        {{- .Get "caption" | markdownify -}}
        {{- with .Get "attrlink" -}}<a href="{{ . }}">{{- .Get "attr" | markdownify -}}</a>{{ end -}}
      </p>{{- end }}
    {{- with .Get "attr" -}}<p class="attribution fig-attribution">{{ . | markdownify }}</p>{{- end -}}
    </figcaption>
  {{- end }}
</figure>
{{- /* vim:set ft=gohtmltmpl ts=2 sw=2: */ -}}
