{{- $sep := "|" -}}
{{- with .Get 0 -}}
  {{- $sep = . -}}
{{- else -}}
  {{- with .Get "sep" -}}
    {{- $sep = . -}}
  {{- end -}}
{{- end -}}
<span class="inline-list"{{ with .Get "start" }} style="counter-set: hzlistCounter {{ sub . 1 }};"{{ end }}>{{- range (split .Inner $sep) -}}{{ if hasPrefix . "_" }}<span class="inline-list-conjunction">{{ slicestr . 1 }}</span>{{ else }}<span class="inline-list-item">{{ . | markdownify }}</span>{{- end -}}{{- end -}}</span>
{{- /* vim:set ft=gohtmltmpl ts=2 sw=2: */ -}}
