{{- $link := .Get "link" -}}
<blockquote{{ with .Get "align" }} class="align-{{ . }}"{{ end }}>
  <div class="quote-content">
    {{- with $link }}<a class="cite" target="_blank" href="{{ . }}">{{ end }}{{ .Inner | markdownify }}{{ with $link }}</a>{{ end -}}
  </div>
  {{- if or (.Get "work") (.Get "author") -}}
  <div class="quote-from"><span>——</span>
    {{- with .Get "work" }}<span class="quote-from-work">{{ . }}</span>{{ end -}}
    {{- with .Get "author" }}<span class="quote-from-author">{{ . }}</span>{{ end -}}
  </div>
  {{- end -}}
</blockquote>
{{- /* vim:set ft=gohtmltmpl ts=2 sw=2: */ -}}
