{{- $cite := .Get "cite" -}}
<blockquote{{ with .Get "style" }} class="{{ . }}"{{ end }}{{ with $cite }} cite="{{ . }}"{{ end }}>
  <div class="quote-content">
    {{ with $cite }}<a class="cite" target="_blank" href="{{ . }}">{{ end }}{{ .Inner }}{{ with $cite }}</a>{{ end -}}
  </div>
  {{- if or (.Get "work") (.Get "author") -}}
  <div class="quote-from"><span>——</span>
    {{- with .Get "work" }}<span class="quote-from-work">{{ . }}</span>{{ end -}}
    {{- with .Get "author" }}<span class="quote-from-author">{{ . }}</span>{{ end -}}
  </div>
  {{- end -}}
</blockquote>
{{- /* vim:set ft=gohtmltmpl ts=2 sw=2: */ -}}
