{{- if .IsNamedParams -}}
  {{- $type    := default "default" (.Get "type")    -}}
  {{- $summary := default ""        (.Get "summary") -}}
  {{- $details := default false     (.Get "details") -}}
  {{- $open    := default false     (.Get "open")    -}}
  {{- if and $details (ne $summary "") -}}
<details{{ if $open }} open{{ end }} class="tab {{ $type }}">
  <summary class="tab-title"><span class="tab-title-content">{{ $summary }}</span><span class="tab-title-indicator"><i class="fas fa-angle-right"></i></span></summary>
  <div class="tab-content">
    {{ .Inner }}
  </div>
</details>
  {{- else -}}
<div{{ if $open }} open{{ end }} class="tab {{ $type }}">
  <div class="tab-title"><span class="tab-title-content">{{ $summary }}</span></div>
  <div class="tab-content">
    {{ .Inner }}
  </div>
</div>
  {{- end -}}
{{- else -}}
  {{- $type    := default "default" (.Get 0) -}}
  {{- $summary := default ""        (.Get 1) -}}
  {{- $details := default false     (.Get 2) -}}
  {{- $open    := default false     (.Get 3) -}}
  {{- if and $details (ne $summary "") -}}
<details{{ if $open }} open{{ end }} class="tab {{ $type }}">
  <summary class="tab-title"><span class="tab-title-content">{{ $summary }}</span><span class="tab-title-indicator"><i class="fas fa-angle-right"></i></span></summary>
  <div class="tab-content">
    {{ .Inner }}
  </div>
</details>
  {{- else -}}
<div{{ if $open }} open{{ end }} class="tab {{ $type }}">
  {{ if ne $summary "" }}<div class="tab-title"><span class="tab-title-content">{{ $summary }}</span></div>{{ end }}
  <div class="tab-content">
    {{ .Inner }}
  </div>
</div>
  {{- end -}}
{{- end -}}
