{{- $type    := "default" -}}
{{- $summary := ""        -}}
{{- $details := false     -}}
{{- $open    := false     -}}
{{- $id      := ""        -}}
{{- if .IsNamedParams -}}
  {{- $type    = default "default" (.Get "type")    -}}
  {{- $summary = .Get "summary" -}}
  {{- $details = .Get "details" -}}
  {{- $open    = .Get "open"    -}}
  {{- $id      = .Get "id"      -}}
{{- else -}}
  {{- $type    = default "default" (.Get 0) -}}
  {{- $summary = .Get 1 -}}
  {{- $details = .Get 2 -}}
  {{- $open    = .Get 3 -}}
  {{- $id      = .Get 4 -}}
{{- end -}}
{{- if and $details (ne $summary "") -}}
<details{{ if $open }} open{{ end }} class="tab {{ $type }}"{{ with $id }} id="{{ . }}"{{ end }}>
  <summary class="tab-sum"><span class="tab-sum-content">{{ $summary | markdownify }}</span><i class="tab-sum-trigger"></i></summary>
  {{- if $id -}}
  {{- if and site.Data.refs .Page.File -}}
  {{- if index site.Data.refs .Page.File.Path -}}
  {{- if index (index site.Data.refs .Page.File.Path).link_here $id -}}
    <div class="cross-refs">
      {{- range $v,$c := index (index site.Data.refs .Page.File.Path).link_here $id -}}
      <a class='cross-ref'{{ if gt $c 1 }} style="order:-{{$c}}"{{ end }} href="{{ replaceRE "\\s+" "-" (relref $.Page $v | lower) }}">{{ index (last 1 (split $v "/")) 0 }}</a>
      {{- end -}}
    </div>
  {{- end -}}
  {{- end -}}
  {{- end -}}
  {{- end -}}
  <div class="tab-content">
    {{ .Inner | markdownify }}
  </div>
</details>
{{- else -}}
<div{{ if $open }} open{{ end }} class="tab {{ $type }}"{{ with $id }} id="{{ . }}"{{ end }}>
  {{- if ne $summary "" -}}
  <div class="tab-sum"><span class="tab-sum-content">{{ $summary | markdownify }}</span></div>
  {{- end -}}
  {{- if $id -}}
  {{- if and site.Data.refs .Page.File -}}
  {{- if index site.Data.refs .Page.File.Path -}}
  {{- if index (index site.Data.refs .Page.File.Path).link_here $id -}}
    <div class="cross-refs">
      {{- range $v,$c := index (index site.Data.refs .Page.File.Path).link_here $id -}}
      <a class='cross-ref'{{ if gt $c 1 }} style="order:-{{$c}}"{{ end }} href="{{ relref $.Page $v }}">{{ index (last 1 (split $v "/")) 0 }}</a>
      {{- end -}}
    </div>
  {{- end -}}
  {{- end -}}
  {{- end -}}
  {{- end -}}
  <div class="tab-content">
    {{ .Inner | markdownify }}
  </div>
</div>
{{- end -}}
{{- /* vim:set ft=gohtmltmpl ts=2 sw=2: */ -}}
