{{- $title   := default ""    (.Get "title")       -}}
{{- $caption := default ""    (.Get "caption")     -}}
{{- $attr    := default ""    (.Get "attrution")   -}}
{{- $id      := .Get "id" -}}
{{- $ls      := default false (.Get "left_sticky") -}}
{{- $crossrefs := false -}}
{{- if $id -}}{{- if and site.Data.refs .Page.File -}}{{- if index site.Data.refs .Page.File.Path -}}{{- if index (index site.Data.refs .Page.File.Path).link_here $id -}}
  {{- $crossrefs = true -}}
{{- end -}}{{- end -}}{{- end -}}{{- end -}}
{{- if or (or $caption $attr) $crossrefs -}}
  {{- $refs_html := "" -}}

  {{- if $crossrefs -}}
    {{- $refs := slice -}}
    {{- range $v,$c := (index (index site.Data.refs .Page.File.Path).link_here $id) -}}
      {{- $refs = $refs | append (dict "ref" $v "count" $c) -}}
    {{- end -}}
    {{- range sort $refs "count" "desc" -}}
      {{- $refs_html = printf "<a class=\"cross-ref\" href=\"%s\">%s</a>" (replaceRE "\\s+" "-" (relref $.Page .ref | lower)) (index (last 1 (split .ref "/")) 0) -}}
    {{- end -}}
    {{- $refs_html = printf "<div class=\"cross-refs\">%s</div>" $refs_html -}}
  {{- end -}}

  {{- $caption = printf "<caption class='caption'>%s%s%s</caption>"
    ($caption | markdownify)
    (cond (ne $attr "") (printf "<p class=\"attrution tbl-attrution\">%s</p>" ($attr | markdownify)) "")
    $refs_html
  -}}
{{- end -}}
{{- $head := printf "<div class=\"table-wrap\"><table%s%s>%s%s"
    (cond (ne $id "") (printf " id=\"%s\"" $id) "")
    (cond $ls " class=\"left-sticky\"" "")
    $caption
    (cond (ne $title "") (printf "<caption class='title'>%s</caption>" ($title | markdownify)) "")
-}}
{{- .Inner | markdownify | replaceRE "<table>" $head | replaceRE "</table>" "</table></div>" | safeHTML -}} {{- /* use markdownify to insure .Inner is render result */ -}}
{{- /* vim:set ft=gohtmltmpl ts=2 sw=2: */ -}}
