{{- $title   := .Get "title"   -}}
{{- $caption := .Get "caption" -}}
{{- $id      := .Get "id"      -}}
{{- $head := "" -}}
{{- with $title -}}{{- $head = (print $head "<h4 class='title'>" (. | markdownify) "</h4>") -}}{{- end -}}
{{- with $caption -}}{{- $head = (print $head "<p class='caption'>" (. | markdownify) "</p>") -}}{{- end -}}
{{- if .Get "left_sticky" -}}
  {{- $head = printf "<table class='left-sticky'><caption>%s</caption>" $head -}}
{{- else -}}
  {{ with $id }}
    {{- $head = printf "<table id='%s'><caption>%s</caption>" $id $head -}}
  {{- else -}}
    {{- $head = printf "<table><caption>%s</caption>" $head -}}
  {{- end -}}
{{- end -}}
{{- .Inner | markdownify | replaceRE "<table>" $head | safeHTML -}}
{{/* vim:set ft=gohtmltmpl: */}}
