{{- $title   := default ""    (.Get "title")       -}}
{{- $caption := default ""    (.Get "caption")     -}}
{{- $attr    := default ""    (.Get "attr")   -}}
{{- $id      := .Get "id" -}}
{{- $ls      := default false (.Get "left-sticky") -}}
{{- $crossrefs := false -}}
{{- if $id -}}{{- if and site.Data.refs .Page.File -}}
{{- if index site.Data.refs .Page.File.Path -}}
{{- if index (index site.Data.refs .Page.File.Path).link_here $id -}}
  {{- $crossrefs = true -}}
{{- end -}}{{- end -}}{{- end -}}{{- end -}}
{{- if or (or $caption $attr) $crossrefs -}}
  {{- $refs_html := "" -}}

  {{- if $crossrefs -}}
    {{- $refs := slice -}}
    {{- range $v,$c := (index (index site.Data.refs .Page.File.Path).link_here $id) -}}
      {{- $refs = $refs | append (dict "ref" $v "count" $c) -}}
    {{- end -}}
    {{- range sort $refs "count" "desc" -}}
      {{- $refs_html = printf "<a class=\"cross-ref page\" href=\"%s\">%s%s</a>"
        (replaceRE "\\s+" "-" (relref $.Page .ref | lower))
        ($.Page.GetPage (index (split .ref "#") 0)).Title
        (cond (len (split .ref "#") | ne 1) (index (last 1 (split .ref "#")) 0 | print "#") "")
      -}}
    {{- end -}}
    {{- $refs_html = printf "<div class=\"cross-refs\">%s</div>" $refs_html -}}
  {{- end -}}

  {{- $caption = printf "<div class=\"table-caption\">%s%s%s</div>"
    ($caption | markdownify)
    (cond (ne $attr "") (printf "<p class=\"attribution tbl-attribution\">%s</p>" ($attr | markdownify)) "")
    $refs_html
  -}}
{{- end -}}
{{- $head := printf "%s<div class=\"table-wrap\"><table%s%s>"
    (cond (ne $title "") (printf "<h4 class=\"table-title\">%s</h4>" ($title | markdownify)) "")
    (cond (ne $id "") (printf " id=\"%s\"" $id) "")
    (cond $ls " class=\"left-sticky\"" "")
-}}
{{- .Inner | markdownify | replaceRE "<table>" $head | replaceRE "</table>" (printf "</table></div>%s" $caption) | safeHTML -}} {{- /* use markdownify to insure .Inner is render result */ -}}
{{- /* vim:set ft=gohtmltmpl ts=2 sw=2: */ -}}
